<style>
  #shopify-section-{{ section.id }} #imagetext2101420132 {
      width: 100%;
      position: relative;
      background-color: {{ section.settings.bg_color }};
      margin: 100px 0;
      padding: 0 80px;
  }
  #shopify-section-{{ section.id }} #imagetext2101420132 .imagetext2101420132_container {
      padding: 60px 0;
      width: 100%;
      max-width: 1400px;
      margin: 0 auto;
      display: flex;
      justify-content: flex-end;
      position: relative;
  }
  #shopify-section-{{ section.id }} #imagetext2101420132 .imagetext2101420132_content {
      max-width: 600px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
  }
  #shopify-section-{{ section.id }} #imagetext2101420132 .imagetext2101420132_btn {
      display: block;
      padding: 10px 15px 10px 20px;
      border-radius: 9999px;
      background-color: {{ section.settings.btn_bg_color }};
      text-decoration: none;
      color: {{ section.settings.btn_text_color }};
      border: 1px solid {{ section.settings.btn_border_color }};
      font-size: 16px;
      font-weight: 700;
      display: flex;
      align-items: center;
      gap: 10px;
      margin-top: 20px;
  }
  #shopify-section-{{ section.id }} #imagetext2101420132 .imagetext2101420132_btn svg {
      height: 20px;
  }
  #shopify-section-{{ section.id }} #imagetext2101420132 .imagetext2101420132_image {
      max-width: 500px;
      height: 120%;
      width: 100%;
      padding: 20px 20px 50px 20px;
      background-color: {{ section.settings.card_color }};
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%) rotate(-20deg);
  }
  #shopify-section-{{ section.id }} #imagetext2101420132 .imagetext2101420132_image img {
      max-width: 100%;
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
  }
  #shopify-section-{{ section.id }} #imagetext2101420132 .imagetext2101420132_heading {
      font-size: 42px;
      color: {{ section.settings.text_color }};
      line-height: 50px;
      text-shadow: 1px 1px 1px #fff;
      font-weight: 700;
  }
  #shopify-section-{{ section.id }} #imagetext2101420132 .imagetext2101420132_description {
      font-size: 20px;
      line-height: 32px;
      color: {{ section.settings.text_color }};
      font-weight: 500;
      margin-top: 20px;
  }
  @media only screen and (max-width: 1200px)  {
      #shopify-section-{{ section.id }} #imagetext2101420132 .imagetext2101420132_image {
          max-width: 400px;
      }

  }
  @media only screen and (max-width: 1024px)  {
      #shopify-section-{{ section.id }} #imagetext2101420132 .imagetext2101420132_image {
          max-width: 100%;
          height: auto;
          padding: 10px 10px 30px 10px;
          position: relative;
          left: unset;
          top: unset;
          transform: translateY(0) rotate(-10deg);
      }
      #shopify-section-{{ section.id }} #imagetext2101420132 .imagetext2101420132_image img {
          height: auto;
      }
      #shopify-section-{{ section.id }} #imagetext2101420132 .imagetext2101420132_container {
          flex-direction: column;
          justify-content: center;
          gap: 40px;
          padding: 30px 0;
      }
      #shopify-section-{{ section.id }} #imagetext2101420132 .imagetext2101420132_content {
          max-width: 100%;
      }
      #shopify-section-{{ section.id }} #imagetext2101420132 {
          margin: 0;
          overflow: hidden;
          padding: 0 15px;
      }
      #shopify-section-{{ section.id }} #imagetext2101420132 .imagetext2101420132_heading {
          font-size: 28px;
          line-height: 32px;
      }
      #shopify-section-{{ section.id }} #imagetext2101420132 .imagetext2101420132_description {
          font-size: 16px;
          line-height: 24px;
          margin-top: 10px;
      }
      #shopify-section-{{ section.id }} #imagetext2101420132 .imagetext2101420132_btn {
          font-size: 12px;
      }
  }
</style>

<section id="imagetext2101420132">
  <div class="imagetext2101420132_container">
    <div class="imagetext2101420132_image">
      <img src="{{ section.settings.image | img_url: "master" }}" alt="">
    </div>
    <div class="imagetext2101420132_content">
      <h2 class="imagetext2101420132_heading">
        {{ section.settings.title }}
      </h2>
      <p class="imagetext2101420132_description">
        {{ section.settings.subtitle }}
      </p>
      <a href="{{ section.settings.url_btn }}" class="imagetext2101420132_btn">
        <span>{{ section.settings.text_btn }}</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
        >
          <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3" />
        </svg>
      </a>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Image & Texte",
  "settings": [
    {
    "type": "color",
    "id": "bg_color",
    "label": "Couleur de fond de la section",
    "default": "#fff"
  },
  {
    "type": "color",
    "id": "card_color",
    "label": "Couleur de carte",
    "default": "#000"
  },
  {
    "type": "color",
    "id": "text_color",
    "label": "Couleur de texte",
    "default": "#000"
  },
  {
    "type": "color",
    "id": "btn_border_color",
    "label": "Couleur de bordure du bouton",
    "default": "#000"
  },
  {
    "type": "color",
    "id": "btn_text_color",
    "label": "Couleur de texte du bouton",
    "default": "#fff"
  },
  {
    "type": "color",
    "id": "btn_bg_color",
    "label": "Couleur de fond du bouton",
    "default": "#000"
  },
  {
    "type": "image_picker",
    "id": "image",
    "label": "Image"
  },
  {
    "type": "text",
    "id": "title",
    "label": "Titre",
    "default": "shake up a smoothie in seconds"
  },
  {
    "type": "text",
    "id": "subtitle",
    "label": "Sous Titre",
    "default": "How it works"
  },
  {
    "type": "text",
    "id": "text_btn",
    "label": "Texte du bouton",
    "default": "Shop now"
  },
  {
    "type": "url",
    "id": "url_btn",
    "label": "Lien du bouton"
  }
  ],
  "presets": [
    {
      "name": "Image & Texte"
    }
  ]
}
{% endschema %}
