<style>
  #cardtextimgcolor110423 {
  width: 100%;
  padding: 40px 0;
  background-color: {{ section.settings.bg_color }};
  color: {{ section.settings.text_color }};
}
  
#cardtextimgcolor110423 .icons-container{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 50px;
    max-width: 90%;
    margin: 0 auto;
    margin-top: 60px;
}

#cardtextimgcolor110423 .icons-container .icons{
    background: #eee;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 1.5rem 1rem;
}

#cardtextimgcolor110423  .text {
  max-width: 70%;
  line-height: 1.5;
  font-size: 16px;
  color: {{ section.settings.text_color }};
}

#cardtextimgcolor110423  .title {
  font-size: 36px;
  text-align: center;
  color: {{ section.settings.title_color }};
}

#cardtextimgcolor110423 .image {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#cardtextimgcolor110423 .image  img{
    height: 100%;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
}


@media only screen and (max-width: 1500px) {
 #cardtextimgcolor110423 .icons-container{
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 50px;
      padding: 1rem 20px;
      max-width: 100%;
  }
  
}

@media only screen and (max-width: 780px) {
 #cardtextimgcolor110423 .icons-container{
      grid-template-columns: repeat(1, minmax(0, 1fr));
      gap: 30px;
      padding: 1rem 20px;
      max-width: 100%;
  }
  
 #cardtextimgcolor110423 .image {
    height: 80px;
    width: 80px;
  }
  
 #cardtextimgcolor110423 .text {
    max-width: 60%;
    line-height: 1.6;
    font-size: 13px;
  }
  
 #cardtextimgcolor110423 .title {
  font-size: 20px;
  text-align: center;
}
}
</style>

<section id="cardtextimgcolor110423">
<div class="container">
        <h3 class="title">{{ section.settings.title }}</h3>
        <div class="icons-container">

           {% for block in section.blocks %}
          
            <div class="icons" style="background-color: {{ block.settings.color }} ;">
                <div class="image">
                  <img src="/{{ block.settings.image | image_url: "master" }}"/>
                </div>
                <div class="text">
                  {{ block.settings.text }}
                </div>
            </div>
        {% endfor %}
        </div>
</div>
</section>

{% schema %}
  {
    "name": "card color Section",
    "blocks": [
      {
        "type": "icon-text",
        "name": "icon",
        "settings": [
          {
            "type":"image_picker",
            "id":"image",
            "label":"Image"
          },
          {
            "type": "color",
            "id": "color",
            "label": "Couleur",
            "default": "#F7F7F7"
          },
          {
            "type": "text",
            "id": "text",
            "label": "Text", 
            "default":"Lorem ipsun..."
          }
        ]
      }
    ],
    "settings": [
      {
        "type": "color",
        "id": "text_color",
        "label": "Couleur de texte", 
        "default":"#000"
      },
      {
        "type": "color",
        "id": "title_color",
        "label": "Couleur de titre", 
        "default":"#000"
      },
      {
        "type": "color",
        "id": "bg_color",
        "label": "Couleur de fond", 
        "default":"#fff"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Titre", 
        "default":"1 Shammpoing = 1 problème en moins"
      }
    ],
    "presets": [
      {
        "name": "card color Section"
      }
    ]
  }
{% endschema %}
