<style>
  #numb230412 {
      width: 100%;
      height: 100%;
      padding: 40px 20px;
      background-color: {{ section.settings.bg_color }};
      color: {{ section.settings.text_color }};
  }
  #numb230412 .container {
      max-width: 1100px;
      width: 100%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  #numb230412 .title {
      font-size: 32px;
      font-weight: bold;
      color: {{ section.settings.title_color }};
      text-align: center;
  }
  #numb230412 .wrapper {
      margin-top: 50px;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, minmax(0, 1fr));
      gap: 30px;
  }
  #numb230412 .wrapper .card {
      width: 100%;
      border-radius: 20px;
      padding: 20px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      text-align: center;
      box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  }
  #numb230412 .wrapper .card .image {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      background-color: #f5f5f5;
      overflow: hidden;
      padding: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  #numb230412 .wrapper .card img {
      max-width: 100%;
      width: 100%;
      height: 100%;
      object-fit: cover;
  }
  #numb230412 .card .text {
      margin-top: 20px;
  }
  #numb230412 .card .text .desc {
      margin-top: 10px;
      line-height: 1.5;
      font-size: 16px;
      font-weight: 500;
      color: {{ section.settings.text_color }};
  }
  #numb230412 .card .text .card_title {
      color: {{ section.settings.text_color }};
      line-height: 1.2;
      font-size: 20px;
      font-weight: 700;
  }
  @media only screen and (max-width: 780px) {
      #numb230412 .title {
          font-size: 20px;
      }
      #numb230412 .wrapper {
          grid-template-columns: repeat(1, minmax(0, 1fr));
      }
      #numb230412 .card .text .desc {
          font-size: 13px;
      }
      #numb230412 .card .text .card_title {
          font-size: 16px;
      }
      #numb230412 .wrapper .card .image {
          width: 100px;
          height: 100px;
      }
  }
</style>

<section id="numb230412">
  <div class="container">
    <h3 class="title">
      {{ section.settings.title }}
    </h3>
    <div class="wrapper">
      {% for block in section.blocks %}
        <div class="card">
          <div class="image">
            <img src="{{ block.settings.image | image_url: "master" }}" alt="">
          </div>
          <div class="text">
            <h4 class="card_title">
              {{ block.settings.title }}
            </h4>
            <p class="desc">
              {{ block.settings.desc }}
            </p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "card image Section",
  "blocks": [
    {
      "type": "card",
      "name": "card",
      "settings": [
        {
          "type":"image_picker",
          "id":"image",
          "label":"Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Titre",
          "default": "lorem ipsum"
        },
        {
          "type": "textarea",
          "id": "desc",
          "label": "Description",
          "default":"Lorem ipsun..."
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "color",
      "id": "text_color",
      "label": "Couleur de texte",
      "default":"#000"
    },
    {
      "type": "color",
      "id": "title_color",
      "label": "Couleur de titre",
      "default":"#000"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Couleur de fond",
      "default":"#fff"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Titre",
      "default":"lorem ipsum..."
    }
  ],
  "presets": [
    {
      "name": "card image Section"
    }
  ]
}
{% endschema %}
