<style>
  #shopify-section-{{section.id}} #beforeaftter {
      width: 100%;
      background-color: {{ section.settings.bg_color }};
      color: {{ section.settings.text_color }} !important;
      padding: 60px 20px;
      display: flex;
      max-width: 1400px;
      margin:auto;
      justify-content: center;
      align-items: center;
  }

  #shopify-section-{{section.id}} #beforeaftter img {
    max-width: inherit !important;
  }

  #shopify-section-{{section.id}} #beforeaftter .beforeaftter_container {
      width: 100%;
      max-width: 1100px;
      display: flex;
      align-items: stretch;
      flex-direction: row;
      gap: 30px;
  }
  #shopify-section-{{section.id}} #beforeaftter .beforeaftter_container_left,
  #shopify-section-{{section.id}} #beforeaftter .beforeaftter_container_right {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      text-align: left;
      overflow: hidden;
  }
  #shopify-section-{{section.id}} #beforeaftter  .heading {
      color: {{ section.settings.text_color }};
      position: relative;
      padding-left: 0px;
      font-size: 26px;
      font-style: normal;
      font-weight: 600;
      display: block;
      margin-bottom: 0px;
  }

  #shopify-section-{{section.id}} #beforeaftter   .description {
      text-align: justify !important;
      line-height: 1.563;
      color: {{ section.settings.text_color }};
      font-size: 14px;
      font-weight: 400;
  }
  #shopify-section-{{section.id}} #beforeaftter   #drag::before {
      border: 1px solid #fff !important;
      content: '';
      height: 50px !important;
      left: 50% !important;
      position: absolute;
      top: 50%;
      width: 50px;
      transform: translate3d(-50%, -50%, 0);
      border-radius: 50%;
      background: #000 !important;
  }
  @media only screen and (max-width: 780px) {
      #shopify-section-{{section.id}} #beforeaftter     .beforeaftter_container {
      flex-direction: column;
  }
  #shopify-section-{{section.id}} #beforeaftter   .beforeaftter_container_left,
  #shopify-section-{{section.id}} #beforeaftter   .beforeaftter_container_right {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      text-align: left;
      overflow: hidden;
  }
  }
</style>

<section id="beforeaftter">
  <div class="beforeaftter_container">
    <div class="beforeaftter_container_left">
      <div class="cocoen">
        <img src="{{ section.settings.before_image | img_url: "master" }}" alt="">
        <img src="{{ section.settings.after_image | img_url: "master"  }}" alt="">
      </div>
    </div>
    <div class="beforeaftter_container_right">
      <h1 class="heading">
        <span>{{ section.settings.title }}</span>
      </h1>
      <p class="description">
        {{ section.settings.description }}
      </p>
    </div>
  </div>
</section>
<script src="{{ 'cocoen.js' | asset_url }}"></script>
<script>
  Cocoen.create(document.querySelector('#shopify-section-{{section.id}} .cocoen'));
</script>

{% schema %}
{
  "name": "Before After",
  "settings": [
    {
      "type":"color",
      "id":"text_color",
      "label":"Couleur de texte",
      "default":"#000"
    },
    {
      "type":"color_background",
      "id":"bg_color",
      "label":"Couleur fond",
      "default":"#fff"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Titre",
      "default":"Lorem ipsum"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description",
      "default":"Lorem ipsum...."
    },

    {
      "type": "image_picker",
      "id": "before_image",
      "label": "Image Avant"
    },
    {
      "type": "image_picker",
      "id": "after_image",
      "label": "Image Apres"
    }
  ],
"presets": [
  {
    "name": "Before After"
  }
]
}
{% endschema %}
