<style>
  #shopify-section-{{ section.id }} #textvideo3041110132 {
      position: relative;
      width: 100%;
      background-color: {{ section.settings.bg_color }};
      padding: 64px 24px;
  }
  #shopify-section-{{ section.id }} #textvideo3041110132   .textvideo3041110132_container {
      max-width: 1064px;
      margin: 0 auto;
  }
  #shopify-section-{{ section.id }} #textvideo3041110132   .textvideo3041110132_subtitle {
      font-size: 13px;
      line-height: 13px;
      letter-spacing: .05em;
      text-transform: uppercase;
      font-weight: 400;
      color: {{ section.settings.text_color }};
      line-height: 13px;
  }
  #shopify-section-{{ section.id }} #textvideo3041110132   .textvideo3041110132_title {
      font-size: 56px;
      line-height: 60px;
      margin: 0;
      font-weight: 500;
      color: {{ section.settings.text_color }};
  }
  #shopify-section-{{ section.id }} #textvideo3041110132   .textvideo3041110132_video {
      width: 100%;
      margin-top: 16px;
  }
  #shopify-section-{{ section.id }} #textvideo3041110132   .textvideo3041110132_video video {
      width: 100%;
      height: auto;
  }
  @media only screen and (max-width: 780px)  {
      #shopify-section-{{ section.id }} #textvideo3041110132 {
          padding: 24px;
      }
      #shopify-section-{{ section.id }} #textvideo3041110132  .textvideo3041110132_title {
          font-size: 32px;
          line-height: 36px;
      }
  }
</style>

<section id="textvideo3041110132">
  <div class="textvideo3041110132_container">
    <p class="textvideo3041110132_subtitle">{{ section.settings.subtitle }}</p>
    <h2 class="textvideo3041110132_title">{{ section.settings.title }}</h2>
    <div class="textvideo3041110132_video">
      <video autoplay="" playsinline="" loop="" src="{{ section.settings.video.sources[1].url }}"></video>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Texte & Video",
  "settings": [
    {
      "type": "color",
      "id": "bg_color",
      "label": "Couleur de fond de la section",
      "default": "#fff"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Couleur de texte",
      "default": "#000"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Titre",
      "default": "shake up a smoothie in seconds"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Sous Titre",
      "default": "How it works"
    },
    {
      "type": "video",
      "id": "video",
      "label": "Video"
    }
  ],
  "presets": [
    {
      "name": "Texte & Video"
    }
  ]
}
{% endschema %}
