<style>
     #shopify-section-{{ section.id }} #tabsimgtext  {
         width: 100%;
         position: relative;
         background-color: {{ section.settings.bg_color }} !important;
         padding: 40px 20px;
     }
   #shopify-section-{{ section.id }} #tabsimgtext   .container {
         max-width: 1200px;
         margin: 0 auto;
         display: flex;
         flex-direction: column;
         align-items: flex-start;
         justify-content: flex-start;
         gap: 20px;
     }
   #shopify-section-{{ section.id }} #tabsimgtext   .left {
         width: 50%;
         flex-direction: column;
         display: flex;
         justify-content: flex-start;
         align-items: flex-start;
     }
  #shopify-section-{{ section.id }} #tabsimgtext    .tabcard {
         background-color: {{ section.settings.card_color }} !important;
         border-radius: 40px;
         padding-left: 80px;
         padding-top: 40px;
         padding-right: 20px;
         display: flex;
         justify-content: space-between;
         flex-direction: row;
         align-items: center;
         width: 100%;
     }
   #shopify-section-{{ section.id }} #tabsimgtext   .tabcard_icon {
         max-width: 10%;
         display: block;
     }
   #shopify-section-{{ section.id }} #tabsimgtext   .tabcard_title{
         font-size: 47px !important;
         line-height: 1.4em !important;
         letter-spacing: -.1px !important;
         text-transform: none !important;
     }
    #shopify-section-{{ section.id }} #tabsimgtext  .tabcard_desc{
         font-size: 16px !important;
         line-height: 1.8em !important;
         letter-spacing: .1px !important;
         color: {{ section.settings.text_color }} !important;
         text-transform: none !important;
         font-weight: 400 !important;
     }
    #shopify-section-{{ section.id }} #tabsimgtext  .right {
         max-width: 50%;
     }
     #shopify-section-{{ section.id }} #tabsimgtext  img{
         max-width: 100%;
         width: 100%;
     }
     @media only screen and (max-width: 1000px) {
       #shopify-section-{{ section.id }} #tabsimgtext .tabcard_title{
             font-size: 33px !important;
             line-height: 1.2em !important;
         }
     }
     @media only screen and (max-width: 780px) {
       #shopify-section-{{ section.id }} #tabsimgtext  .tabcard {
             padding: 60px 20px 0 20px;
             flex-direction: column;
         }
       #shopify-section-{{ section.id }} #tabsimgtext   .left {
             width: 100%;
             justify-content: center;
             align-items: center;
         }
       #shopify-section-{{ section.id }} #tabsimgtext   .right {
         max-width: 100%;
         margin-top: 20px;
     }
     }
</style>

<section id="tabsimgtext">
  <div class="container">
    {% for block in section.blocks %}
      <div class="tabcard">
        <div class="left">
          <span class="tabcard_icon">
            <img src="{{ block.settings.ico_image | img_url: "master" }}" alt="">
          </span>
          <p class="tabcard_desc">{{ block.settings.title }}</p>
          <h2 class="tabcard_title" style="color: {{ block.settings.title_color }} !important">
            {{ block.settings.description }}
          </h2>
        </div>
        <div class="right">
          <img
            src="{{ block.settings.desc_image | img_url: "master" }}"
            alt=""
          >
        </div>
      </div>
    {% endfor %}
  </div>
</section>

{% schema %}
{
  "name": "Block List",
  "blocks": [
    {
      "type": "block",
      "name": "BLock",
      "settings": [
          {
            "type": "color",
            "id": "title_color",
            "label": "Couleur de titre",
            "default": "#000"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Titre",
            "default":"Lorem ipsum"
          },
          {
            "type": "text",
            "id": "description",
            "label": "Description",
            "default":"Lorem ipsum"
          },
          {
            "type": "image_picker",
            "id": "ico_image",
            "label": "Icone"
          },
          {
            "type": "image_picker",
            "id": "desc_image",
            "label": "Image descriptive"
          }
      ]
    }
  ],
  "settings": [
    {
      "type": "color_background",
      "id": "bg_color",
      "label": "Couleur de fond",
      "default": "#fff"
    },
    {
      "type": "color_background",
      "id": "card_color",
      "label": "Couleur de carte",
      "default": "#f9f9f9"
    },
    {
      "type": "color_background",
      "id": "text_color",
      "label": "Couleur de texte",
      "default": "#000000bf"
    }
  ],
  "presets": [
  {
    "name": "Block List"
  }
]
}
{% endschema %}
