<style>
#shopify-section-{{ section.id }}  #mission270223 {
  width: 100%;
  background-color: {{ section.settings.bg-color }};
  color: {{ section.settings.text-color }};
}

#shopify-section-{{ section.id }} #mission270223 .mission270223-m-10 {
  margin: 2.5rem;
}

#shopify-section-{{ section.id }} #mission270223 .mission270223-mx-16 {
  margin-left: 4rem;
  margin-right: 4rem;
}

#shopify-section-{{ section.id }} #mission270223 .mission270223-my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#shopify-section-{{ section.id }} #mission270223 .mission270223-my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

#shopify-section-{{ section.id }} #mission270223 .mission270223-my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

#shopify-section-{{ section.id }} #mission270223 .mission270223-ml-16 {
  margin-left: 4rem;
}

#shopify-section-{{ section.id }} #mission270223 .mission270223-ml-5 {
  margin-left: 1.25rem;
}

#shopify-section-{{ section.id }} #mission270223 .mission270223-ml-1 {
  margin-left: 0.25rem;
}

#shopify-section-{{ section.id }} #mission270223 .mission270223-flex {
  display: flex;
}

#shopify-section-{{ section.id }} #mission270223 .mission270223-h-1 {
  height: 0.25rem;
}

#shopify-section-{{ section.id }} #mission270223 .mission270223-h-\[0\.2px\] {
  height: 0.2px;
}

#shopify-section-{{ section.id }} #mission270223 .mission270223-h-\[2px\] {
  height: 2px;
}

#shopify-section-{{ section.id }} #mission270223 .mission270223-h-\[0\.5px\] {
  height: 0.5px;
}

#shopify-section-{{ section.id }} #mission270223 .mission270223-h-\[1px\] {
  height: 1px;
}

#shopify-section-{{ section.id }} #mission270223 .mission270223-h-\[1\.1px\] {
  height: 1.1px;
}

#shopify-section-{{ section.id }} #mission270223 .mission270223-w-full {
  width: 100%;
}

#shopify-section-{{ section.id }} #mission270223 .mission270223-max-w-\[1400px\] {
  max-width: 1400px;
}

#shopify-section-{{ section.id }} #mission270223 .mission270223-flex-col {
  flex-direction: column;
}

#shopify-section-{{ section.id }} #mission270223 .mission270223-bg-slate-700 {
  --tw-bg-opacity: 1;
  background-color: rgb(51 65 85 / var(--tw-bg-opacity));
}

#shopify-section-{{ section.id }} #mission270223 .mission270223-bg-slate-400 {
  --tw-bg-opacity: 1;
  background-color: rgb(148 163 184 / var(--tw-bg-opacity));
}

#shopify-section-{{ section.id }} #mission270223 .border-color {
  color: {{ section.settings.border-color }} !important;
}

#shopify-section-{{ section.id }} #mission270223 .mission270223-p-4 {
  padding: 1rem;
}

#shopify-section-{{ section.id }} #mission270223 .mission270223-p-6 {
  padding: 1.5rem;
}

#shopify-section-{{ section.id }} #mission270223 .mission270223-p-1 {
  padding: 0.25rem;
}

#shopify-section-{{ section.id }} #mission270223 .mission270223-p-10 {
  padding: 2.5rem;
}

#shopify-section-{{ section.id }} #mission270223 .mission270223-py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

#shopify-section-{{ section.id }} #mission270223 .mission270223-pt-1 {
  padding-top: 0.25rem;
}

#shopify-section-{{ section.id }} #mission270223 .mission270223-pt-2 {
  padding-top: 0.5rem;
}

#shopify-section-{{ section.id }} #mission270223 .mission270223-text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

#shopify-section-{{ section.id }} #mission270223 .mission270223-text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

#shopify-section-{{ section.id }} #mission270223 .mission270223-font-extrabold {
  font-weight: 800;
}

#shopify-section-{{ section.id }} #mission270223 .mission270223-font-bold {
  font-weight: 700;
}

#shopify-section-{{ section.id }} #mission270223 .mission270223-uppercase {
  text-transform: uppercase;
}

#shopify-section-{{ section.id }} #mission270223 .mission270223-tracking-wider {
  letter-spacing: 0.05em;
}

#shopify-section-{{ section.id }} #mission270223 .mission270223-tracking-wide {
  letter-spacing: 0.025em;
}

#shopify-section-{{ section.id }} #mission270223 .mission270223-text-red-700 {
  color: {{ section.settings.title-color }};
}

#shopify-section-{{ section.id }} #mission270223 .mission270223-opacity-70 {
  opacity: 0.7;
}

#shopify-section-{{ section.id }} #mission270223 .mission270223-opacity-20 {
  opacity: 0.2;
}

#shopify-section-{{ section.id }} #mission270223 .mission270223-opacity-10 {
  opacity: 0.1;
}
#shopify-section-{{ section.id }} #mission270223 .text-color {
  color: {{ section.settings.text-color }} !important;
}
@media (min-width: 1024px) {
 #shopify-section-{{ section.id }} #mission270223 .lg\:mission270223-ml-12 {
    margin-left: 3rem;
  }
}
</style>
<section id="mission270223">
  <div
    class="mission270223-flex mission270223-flex-col mission270223-max-w-[1400px]"
  >
    <span
      class="mission270223-flex lg:mission270223-ml-12 mission270223-ml-5 mission270223-my-4"
    >
      <p
        style="letter-spacing: 3px"
        class="mission270223-uppercase mission270223-text-red-700 mission270223-tracking-wide mission270223-text-xs mission270223-font-bold"
      >
        {{ section.settings.title }}
      </p>
    </span>
    {% for block in section.blocks %}
        <div class="mission270223-my-2">
          <span
            class="lg:mission270223-ml-12 mission270223-ml-5 mission270223-flex mission270223-flex-col"
          >
            <p class="mission270223-tracking-wide mission270223-text-sm text-color">
              {{ block.settings.mission }}
            </p>
          </span>
          <hr
            class="mission270223-w-full mission270223-my-1 mission270223-h-[1.1px] border-color mission270223-opacity-10"
          />
        </div>
      {% endfor %}
  </div>
</section>

{% schema %}
  {
    "name": "Our Mission Section",
    "blocks": [
      {
        "type": "ourmission",
        "name": "Ligne",
        "settings": [
            {
              "type": "text",
              "id": "mission",
              "label": "Mission", 
              "default":"Créer le partenaire idéal de votre quotidien "
            }
        ]
      }
    ],
    "settings": [
      {
          "type":"color",
          "id":"bg-color",
          "label":"Couleur de fond",
          "default":"#fff"
      },
      {
        "type":"color",
        "id":"text-color",
        "label":"Couleur de texte",
        "default":"#000"
      },
      {
        "type":"color",
        "id":"border-color",
        "label":"Couleur des bordures",
        "default":"#000"
      },
      {
          "type":"color",
          "id":"title-color",
          "label":"Couleur du titre",
          "default":"#000"
      },
      {
          "type":"text",
          "id":"title",
          "label":"Titre",
          "default":"Notre mission"
      }
    ],
    "presets": [
      {
          "name": "Our Mission Section"
      }
    ]
  }
{% endschema %}
