<style>
    #shopify-section-{{ section.id }} #boms301222 {
      width: 100%;
    }
    
    #shopify-section-{{ section.id }} #boms301222 .hero-content {
      width: 100%;
      height: 100vh;
      position: relative;
      overflow: hidden;
      opacity: 1;
    }
    
    #shopify-section-{{ section.id }} #boms301222 .bg-video {
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
    
    #shopify-section-{{ section.id }} #boms301222 .bg-video video {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
    
    #shopify-section-{{ section.id }} #boms301222 .eewPUi {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      transition: background 0.5s ease 0s;
      display: flex;
      align-items: center;
    }
    
    #shopify-section-{{ section.id }} #boms301222 .title-div {
      width: 80%;
      max-width: unset;
      margin: 0px auto;
      position: relative;
      pointer-events: none;
      display: flex;
      flex-direction: column;
      font-size: calc(1.175rem + 1.625vw);
      text-align: center;
    }
    
    #shopify-section-{{ section.id }} #boms301222 .title-div h1 {
      text-align: center;
      margin: 0px auto;
      margin: 0px 0px 30px;
      margin-bottom: 30px;
      letter-spacing: 0.25em;
      font-weight: 400;
      text-transform: uppercase;
      font-size: calc(1.175rem + 1.625vw);
      margin-bottom: 15px;
      line-height: 1.2;
      color: {{ section.settings.title-color }};
    }
    
    #shopify-section-{{ section.id }} #boms301222 .title-div h2 {
      margin: 0px 0px 10px;
      margin-bottom: 20px;
      text-transform: uppercase;
      letter-spacing: 0.25em;
      font-weight: 300;
      font-size: calc(0.65rem + 0.5vw);
      line-height: 1.3;
      color: {{ section.settings.subtitle-color }};
    }
    
    #shopify-section-{{ section.id }} #boms301222 .ctn-arrow-down {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 50px;
      animation: 1s linear 0s infinite normal none running loopAnim;
    }
    
    #shopify-section-{{ section.id }} #boms301222 .ctn-arrow-down svg {
      fill: white;
    }
    
    @keyframes loopAnim {
      0% {
        opacity: 0;
        transform: translateY(-30px);
      }
      20% {
        opacity: 1;
      }
      50% {
        transform: translateY(0px);
      }
      80% {
        opacity: 1;
      }
      100% {
        opacity: 0;
        transform: translateY(30px);
      }
    }
  </style>
  <section id="boms301222">
    <div class="hero-content" bis_skin_checked="1">
      <div height="785" class="ctn-arrow-down" bis_skin_checked="1">
        <span class=""><svg height="15" width="15" viewBox="0 0 15 15" xmlns="http://www.w3.org/2000/svg" role="img" aria-hidden="true" alt="">
            <path d="m15 5.41-7.5 7.91-7.5-7.91 1.95-1.95 5.55 5.83 5.55-5.83z"></path></svg></span>
      </div>
      <div class="eewPUi" bis_skin_checked="1">
        <div class="title-div" bis_skin_checked="1">
          <h1 size="100">{{ section.settings.title }}</h1>
          <h2>{{ section.settings.subtitle }}</h2>
        </div>
      </div>
      <div class="bg-video" bis_skin_checked="1">
        <video autoplay loop muted id='vid'>
          <source src="{{ section.settings.video_url }}" type="video/mp4">
        </video>
      </div>
    </div>
  </section>
  <script>
      document.getElementById('vid').play();
  </script>
  {% schema %}
    {
      "name": "Banner Video",
      "settings": [
        {
          "type":"color",
          "id":"title-color",
          "label":"Couleur du titre",
          "default":"#fff"
        },
        {
          "type":"color",
          "id":"subtitle-color",
          "label":"Couleur du sous-titre",
          "default":"#fff"
        },
        {
          "type":"text",
          "id":"title",
          "label":"Titre",
          "default":"Day‑Date"
        },
        {
          "type":"text",
          "id":"subtitle",
          "label":"Sous-titre",
          "default":"L’accomplissement d’un idéal"
        },
        {
          "type": "text",
          "id": "video_url",
          "default": "https://content.rolex.com/dam/homepage/hss/watches/classic-watches/day-date/day-date-40/homepage-day-date-40-m228238-0042.mp4",
          "label": "Lien de la video"
        }
      ],
      "presets": [
        {
          "name": "Banner Video",
          "category": "Custom Ss"
        }
      ]
    }
  {% endschema %}