<style>
  #shopify-section-{{ section.id }} #testimonialslider18201832 {
      background-color: {{ section.settings.color_2 }};
      position: relative;
      width: 100%;
  }

  #shopify-section-{{ section.id }} #testimonialslider18201832 .testimonialslider18201832_container {
      padding: 40px 64px;
      max-width: 1440px;
      width: 100%;
      margin: 0 auto;
  }

  #shopify-section-{{ section.id }} #testimonialslider18201832 .testimonialslider18201832_header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
  }

  #shopify-section-{{ section.id }} #testimonialslider18201832 .testimonialslider18201832_heading {
      color: {{ section.settings.color_1 }};
      font-weight: 700;
      font-size: 32px;
      letter-spacing: 0;
      text-transform: uppercase;
      line-height: 95%;
  }

  #shopify-section-{{ section.id }} #testimonialslider18201832 .testimonialslider18201832_controls {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-right: 80px;
  }

  #shopify-section-{{ section.id }} #testimonialslider18201832 .testimonialslider18201832_btn svg {
      padding: 8px;
      background-color: #f2f2f2;
      height: 34px;
      width: 34px;
      border-radius: 50%;
      cursor: pointer;
  }

  #shopify-section-{{ section.id }} #testimonialslider18201832 .testimonialslider18201832_btn svg:hover {
      background-color: #e7e7e7;
  }
  #shopify-section-{{ section.id }} #testimonialslider18201832 .testimonialslider18201832_slider {
      width: 100%;
      height: 100%;
      margin-top: 40px;
      padding-bottom: 40px;
      border-bottom: 2px solid {{ section.settings.color_2 }};
      overflow: hidden;
  }
  #shopify-section-{{ section.id }} #testimonialslider18201832 .swiper {
      width: 100%;
      height: 100%;
  }
  #shopify-section-{{ section.id }} #testimonialslider18201832 .swiper-slide {
      height: unset !important;
      width: 100%;
      background-color: {{ section.settings.color_1 }};
  }
  #shopify-section-{{ section.id }} #testimonialslider18201832 .testimonialslider18201832_slide {
      width: 100%;
      height: 100%;
      padding:30px 20px;
      color: {{ section.settings.color_2 }} !important;
      display: flex;
      flex-direction: column;
      flex: 1 1 0%;
  }
  #shopify-section-{{ section.id }} #testimonialslider18201832 .testimonialslider18201832_slide_content {
      margin-top: 24px;
      padding-top: 16px;
      border-top: 1px solid {{ section.settings.color_2 }};
      flex: 1 1 0%;
      display: flex;
      flex-direction: column;
  }
  #shopify-section-{{ section.id }} #testimonialslider18201832 .testimonialslider18201832_text {
      flex: 1 1 0%;
      font-size: 16px;
      font-weight: 400;
      line-height: 140%;
      letter-spacing: 0;
  }
  #shopify-section-{{ section.id }} #testimonialslider18201832 .testimonialslider18201832_mintext {
      font-weight: 500;
      letter-spacing: 0;
      font-size: 14px;
      line-height: 120%;
  }
  #shopify-section-{{ section.id }} #testimonialslider18201832 .testimonialslider18201832_info {
      margin-top: 5px;
  }
  #shopify-section-{{ section.id }} #testimonialslider18201832 .testimonialslider18201832_slide_stars {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 4px;
  }
  #shopify-section-{{ section.id }} #testimonialslider18201832 .testimonialslider18201832_slide_stars svg {
      width: 20px;
      height: 20px;
  }
  @media(max-width: 740px) {
      #shopify-section-{{ section.id }} #testimonialslider18201832 .testimonialslider18201832_controls {
          display: none;
      }
      #shopify-section-{{ section.id }} #testimonialslider18201832 .testimonialslider18201832_header {
          justify-content: center;
      }
      #shopify-section-{{ section.id }} #testimonialslider18201832 .testimonialslider18201832_heading  {
          font-size: 24px;
          text-align: center;
      }
      #shopify-section-{{ section.id }} #testimonialslider18201832 .testimonialslider18201832_container {
          padding: 20px 0px 20px 20px;
      }
  }
</style>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css">

<section id="testimonialslider18201832">
  <div class="testimonialslider18201832_container">
    <div class="testimonialslider18201832_header">
      <h2 class="testimonialslider18201832_heading">{{ section.settings.heading }}</h2>
      <div class="testimonialslider18201832_controls">
        <div class="testimonialslider18201832_btn testimonialslider18201832_btn_prev">
          <svg class="" width="30" height="30" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
            <title></title>
            <g data-name="1" id="_1">
                <path fill='#3100b2'
                    d="M353,450a15,15,0,0,1-10.61-4.39L157.5,260.71a15,15,0,0,1,0-21.21L342.39,54.6a15,15,0,1,1,21.22,21.21L189.32,250.1,363.61,424.39A15,15,0,0,1,353,450Z">
                </path>
            </g>
          </svg>
        </div>
        <div class="testimonialslider18201832_btn testimonialslider18201832_btn_next">
          <svg
            class="w-10 h-10 bg-grey-100 rounded-full p-2 hover:bg-grey-200"
            width="30"
            height="30"
            viewBox="0 0 512 512"
            xmlns="http://www.w3.org/2000/svg"
          >
            <title></title>
            <g data-name="1" id="_1">
                <path fill='#3100b2'
                    d="M202.1,450a15,15,0,0,1-10.6-25.61L365.79,250.1,191.5,75.81A15,15,0,0,1,212.71,54.6l184.9,184.9a15,15,0,0,1,0,21.21l-184.9,184.9A15,15,0,0,1,202.1,450Z">
                </path>
            </g>
          </svg>
        </div>
      </div>
    </div>
    <div class="testimonialslider18201832_slider">
      <div class="swiper testimonialslider18201832-swiper">
        <div class="swiper-wrapper">
          {%- for block in section.blocks -%}
            <div class="swiper-slide">
              <div class="testimonialslider18201832_slide">
                <div class="testimonialslider18201832_slide_stars">
                  {%- for i in (1..block.settings.nb_star) -%}
                    <span>
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                        <path fill-rule="evenodd" d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.007 5.404.433c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.433 2.082-5.006z" clip-rule="evenodd" />
                      </svg>
                    </span>
                  {% endfor %}
                </div>
                <div class="testimonialslider18201832_slide_content">
                  <p class="testimonialslider18201832_text">
                    {{ block.settings.text }}
                  </p>
                  <div class="testimonialslider18201832_info">
                    <p class="testimonialslider18201832_mintext">{{ block.settings.name }}</p>
                    <p class="testimonialslider18201832_mintext" style="margin-top: 4px;">{{ block.settings.date }}</p>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
<script>
  new Swiper('#shopify-section-{{ section.id }} #testimonialslider18201832 .testimonialslider18201832-swiper', {
      navigation: {
          nextEl: '#shopify-section-{{ section.id }} #testimonialslider18201832 .testimonialslider18201832_btn_next',
          prevEl: '#shopify-section-{{ section.id }} #testimonialslider18201832 .testimonialslider18201832_btn_prev',
      },
      slidesPerView: 1,
      spaceBetween: 0,
      freeMode: true,
      breakpoints: {
          320: {
              slidesPerView: 1.2,
              spaceBetween: 10
          },
          540: {
              slidesPerView: 2.2,
              spaceBetween: 10
          },
          780: {
              slidesPerView: 3.2,
              spaceBetween: 10
          },
          1024: {
              slidesPerView: 4.2,
              spaceBetween: 10
          }
      }
  });
</script>

{% schema %}
{
  "name": "Slider Testimonial",
  "blocks": [
      {
        "type": "item",
        "name": "Item",
        "settings": [
          {
            "type": "text",
            "id": "name",
            "label": "Name",
            "default": "Marie"
          },
          {
            "type": "text",
            "id": "date",
            "label": "Date",
            "default": "Juillet 2023"
          },
          {
            "type": "textarea",
            "id": "text",
            "label": "Texte",
            "default": "Créez votre propre néon avec notre app ou envoyez-nous votre design."
          },
          {
            "type": "range",
            "id": "nb_star",
            "min": 1,
            "max": 5,
            "step": 1,
            "unit": "s",
            "label": "Nombre d'etoile",
            "default": 5
          }
        ]
    }
  ],
  "settings": [
    {
      "type": "color",
      "id": "color_1",
      "label": "Couleur 1",
      "default": "#3200b2"
    },
    {
      "type": "color",
      "id": "color_2",
      "label": "Couleur 2",
      "default": "#fff"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Nous contacter !"
    }
  ],
  "presets": [
    {
      "name": "Slider Testimonial"
    }
  ]
}
{% endschema %}
