<link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap" rel="stylesheet"/>

<style>
#shopify-section-{{ section.id }}  #referencement200223   [hidden] {
  display: none;
}

*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}
 #shopify-section-{{ section.id }}  .order-1 {
  order: 1;
}

#shopify-section-{{ section.id }} .order-2 {
  order: 2;
}

#shopify-section-{{ section.id }} .flex {
  display: flex;
}

#shopify-section-{{ section.id }} .h-full {
  height: 100%;
}

#shopify-section-{{ section.id }} .h-screen {
  height: 100vh;
}

#shopify-section-{{ section.id }} .w-1\/2 {
  width: 50%;
}

#shopify-section-{{ section.id }} .w-full {
  width: 100%;
}

#shopify-section-{{ section.id }} .w-screen {
  width: 100vw;
}

#shopify-section-{{ section.id }} .flex-1 {
  flex: 1 1 0%;
}

#shopify-section-{{ section.id }} .flex-col {
  flex-direction: column;
}

#shopify-section-{{ section.id }} .items-center {
  align-items: center;
}

#shopify-section-{{ section.id }} .justify-center {
  justify-content: center;
}

#shopify-section-{{ section.id }} .space-y-6 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1.5rem * var(--tw-space-y-reverse));
}

#shopify-section-{{ section.id }} .space-y-8 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(2rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(2rem * var(--tw-space-y-reverse));
}

#shopify-section-{{ section.id }} .overflow-hidden {
  overflow: hidden;
}

#shopify-section-{{ section.id }} .rounded-md {
  border-radius: 0.375rem;
}

#shopify-section-{{ section.id }} .bg-button {
  --tw-bg-opacity: 1;
  background-color: {{ section.settings.btn-color}} !important;
  color: {{ section.settings.btn-text-color}} !important;
  width:50%;
  border:none;
}

#shopify-section-{{ section.id }} .bg-slate-50 {
  --tw-bg-opacity: 1;
  background-color: rgb(248 250 252 / var(--tw-bg-opacity));
}

#shopify-section-{{ section.id }} .p-16 {
  padding: 4rem;
}

#shopify-section-{{ section.id }} .px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

#shopify-section-{{ section.id }} .py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

#shopify-section-{{ section.id }} .text-center {
  text-align: center;
}

#shopify-section-{{ section.id }} .text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

#shopify-section-{{ section.id }} .font-bold {
  font-weight: 700;
}

#shopify-section-{{ section.id }} .font-light {
  font-weight: 300;
}

#shopify-section-{{ section.id }} .uppercase {
  text-transform: uppercase;
}

#shopify-section-{{ section.id }} .text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

@media (min-width: 1024px) {
 #shopify-section-{{ section.id }} .lg\:order-1 {
    order: 1;
  }

 #shopify-section-{{ section.id }} .lg\:order-2 {
    order: 2;
  }

 #shopify-section-{{ section.id }} .lg\:w-1\/2 {
    width: 50%;
  }

 #shopify-section-{{ section.id }}  .lg\:flex-row {
    flex-direction: row;
  }

 #shopify-section-{{ section.id }}  .text-right {
    text-align: right;
  }
}
#shopify-section-{{ section.id }}  #referencement200223 {
  background-color: {{ section.settings.bg-color }} !important;
  color: {{ section.settings.text-color }} !important;
  font-family: 'DM Sans';
}

#shopify-section-{{ section.id }}  #referencement200223 .title {
  color: {{ section.settings.title-color }} !important;
}
</style>
 
 <section id="referencement200223">
      <div
        class="w-screen h-screen flex lg:flex-row flex-col section-container"
      >
        <div
          class="lg:w-1/2 lg:order-1 order-2 flex w-full h-full flex-1"
        >
          <div class="flex flex-col p-16 space-y-8 justify-center items-center">
            <span class="flex-col space-y-6 lg:text-right text-center">
              <h1 class="font-bold text-4xl uppercase overflow-hidden title">
                {{ section.settings.title }}
              </h1>
              <p class="text-md">
                {{ section.settings.description }}
              </p>
            </span>
            <div class="flex w-full justify-center items-center">
              <a href="{{ section.settings.btn-url }}">
              <button
                class="px-4 rounded-md py-2 text-center uppercase bg-button font-light"
              >
                {{ section.settings.btn-label }}
              </button>
              </a>
            </div>
          </div>
        </div>

        <div class="lg:w-1/2 lg:order-2 order-1 w-full h-full">
          <img
            src="{{ section.settings.image | img_url:"master" }}"
            alt=""
            class="w-full h-full"
          />
        </div>
      </div>
    </section>
{% schema %}
  {
    "name": "Section O",
    "settings": [
      {
          "type":"color",
          "id":"bg-color",
          "label":"Couleur de fond",
          "default":"#f2f2f2"
      },
      {
        "type":"color",
        "id":"text-color",
        "label":"Couleur de texte",
        "default":"#000"
      },
      {
          "type":"color",
          "id":"title-color",
          "label":"Couleur du titre",
          "default":"#000"
      },
      {
        "type": "color",
        "id": "btn-color",
        "label": "Couleur du bouton", 
        "default":"#3964FE"
      },
      {
        "type": "color",
        "id": "btn-text-color",
        "label": "Couleur du texte du bouton", 
        "default":"#fff"
      },
      {
          "type":"text",
          "id":"title",
          "label":"Titre",
          "default":"Le Reférencement"
      },
      {
          "type":"textarea",
          "id":"description",
          "label":"Description",
          "default":"L'univers des produits lié à la course à pied est immensément riche....."
      },
      {
        "type":"image_picker",
        "id":"image",
        "label":"Image"
      },
      {
        "type": "text",
        "id": "btn-label",
        "label": "Libellé du bouton", 
        "default":"Decouvrir"
      },
      {
        "type": "url",
        "id": "btn-url",
        "label": "Lien du bouton"
      }
    ],
    "presets": [
      {
          "name": "Section O"
      }
    ]
  }
{% endschema %}