<style>
     #shopify-section-{{ section.id }} #block39261033280{
      display: flex;
      justify-content: space-between;
      align-items: stretch;
      flex:  0 0 auto;
      overflow: hidden;
      padding: 20px 0px;
      width: 100%;
  }

   #shopify-section-{{ section.id }} #block39261033280 .item1{
      flex: 0 0 39%;
      padding-right: 12px;
      height: auto;
  }

   #shopify-section-{{ section.id }} #block39261033280 .item2{
      flex: 0 0 25%;
      padding-right: 12px;
      height: auto;
  }

   #shopify-section-{{ section.id }} #block39261033280 .item3{
      flex: 0 0 36%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 20px;
      height: auto;
      background-color: {{ section.settings.bg_color }};
  }


   #shopify-section-{{ section.id }} #block39261033280 .item1 img{
      width: 100%;
      height: 100%;
      object-fit: cover;
  }
   #shopify-section-{{ section.id }} #block39261033280  .item2 img{
      width: 100%;
      height: 100%;
      object-fit: cover;
  }

   #shopify-section-{{ section.id }} #block39261033280 .item3-1{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    color: {{ section.settings.text_color }};
  }

   #shopify-section-{{ section.id }} #block39261033280 .item3-1 h3{
      font-size: 35px;
      text-align: center;
      font-family: cursive;
    color: {{ section.settings.text_color }};
  }
   #shopify-section-{{ section.id }} #block39261033280 .item3-1 h3 span{
      display: inline-block;
  }
   #shopify-section-{{ section.id }} #block39261033280 .item3-1 h3 span:nth-child(2){
      transform: rotate(180deg);
  }
   #shopify-section-{{ section.id }} #block39261033280 .item3-1 p{
      font-family: sans-serif;
      margin: 10px 0;
    color: {{ section.settings.text_color }};
  }
   #shopify-section-{{ section.id }} #block39261033280 .item3-1 p span{
      color: {{ section.settings.verify_color }};
  }
   #shopify-section-{{ section.id }} #block39261033280 .item3-1-1{
      display: none;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      padding-top: 20px;
      opacity: 0;
      transition: ease-out 0.2s;
  }

   #shopify-section-{{ section.id }} #block39261033280 .link{
      color: {{ section.settings.btn_text_color }};
      background-color: {{ section.settings.btn_bg_color }};
      padding: 14px 24px;
      border-radius: 555px;
      font-family: sans-serif;
      border: 2px solid {{ section.settings.btn_border_color }};
      font-weight: 600;
      text-decoration: none;
      transition: all ease-out 0.3s;
      margin: 20px 0;
  }
   #shopify-section-{{ section.id }} #block39261033280 .link:hover{
      color: {{ section.settings.hv_btn_text_color }};
      background-color: {{ section.settings.hv_btn_bg_color }};
    border: 2px solid {{ section.settings.hv_btn_border_color }};
  }

   #shopify-section-{{ section.id }} #block39261033280 .stars{
      color: {{ section.settings.star_color }};
      margin: 10px 0;
  }
   #shopify-section-{{ section.id }} #block39261033280 .stars svg {
    width: 20px;
    height: 20px;
  }
   #shopify-section-{{ section.id }} #block39261033280 .active{
      opacity: 1;
      display: flex;
  }

  @media (max-width: 1000px) {
      #shopify-section-{{ section.id }} #block39261033280  .item1{
          flex: auto;
          padding: 0;
      }
      #shopify-section-{{ section.id }} #block39261033280  .item2{
          display: none;
          padding: 0;
      }
     #shopify-section-{{ section.id }} #block39261033280   .item3{
          flex: auto;
          height: 400px;
      }
       #shopify-section-{{ section.id }} #block39261033280 {
          flex-wrap: wrap;
          gap: 0px;
      }
  }

  @media (max-width: 400px) {
      #shopify-section-{{ section.id }} #block39261033280  .item3-1 h3{
          font-size: 30px;
          text-align: center;
      }
  }
</style>

<section id="block39261033280">
  <section class="item1">
    <img src="{{ section.settings.image_1 | img_url: "master" }}" alt="Review Banner">
  </section>
  <section class="item2">
    <img src="{{ section.settings.image_2 | img_url: "master" }}" alt="Review">
  </section>
  <section class="item3">
    <section class="item3-1">
      {% for block in section.blocks %}
        <section class="item3-1-1 {% if forloop.index == 1 %} active {% endif %}">
          <h3>
            <span>“</span> {{ block.settings.message }}
            <span>“</span>
          </h3>
          <span class="stars">
            {% for i in (1..block.settings.nb_star) %}
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 28" fill="none">
                <path
                    d="M14.67 0.125L18.6898 9.77315L29.0819 10.6231L21.1613 17.438L23.5732 27.608L14.67 22.1651L5.75185 27.608L8.16376 17.438L0.243164 10.6231L10.6501 9.77315L14.67 0.125Z"
                    fill="currentColor"></path>
              </svg>
            {% endfor %}
          </span>
          <p class="author">
            {{ block.settings.name }}
            <span>{{ section.settings.verified_text }}</span>
          </p>
        </section>
      {% endfor %}
    </section>
    <a href="{{ section.settings.btn_url }}" class="link">{{ section.settings.btn_lbl }}</a>
  </section>
</section>

<script>
  const contenus = document.querySelectorAll(' #shopify-section-{{ section.id }} #block39261033280 .item3-1 .item3-1-1');
  let currentIndex = 0;

    setInterval(() => {
        contenus[currentIndex].classList.add('active');
        setTimeout(() => {
          currentIndex = (currentIndex + 1) % contenus.length;
          contenus[currentIndex].classList.add('active');
        }, 1500);
        contenus[currentIndex].classList.remove('active');
    }, 1500);
</script>

{% schema %}
{
  "name": "Block 3",
  "blocks": [
    {
      "type": "item",
      "name": "item",
      "settings": [
        {
          "type": "range",
          "id": "nb_star",
          "min": 0,
          "max": 5,
          "step": 1,
          "unit": "s",
          "label": "Nb Star",
          "default": 5
        },
        {
          "type": "textarea",
          "id": "message",
          "label": "Message"
        },
        {
          "type": "text",
          "id": "name",
          "label": "Name"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Couleur",
      "default": "#000"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Bg Couleur",
      "default": "#fff"
    },
    {
      "type": "color",
      "id": "verify_color",
      "label": "Verify Couleur",
      "default": "#000"
    },
    {
      "type": "color",
      "id": "star_color",
      "label": "Star Couleur",
      "default": "#000"
    },
    {
      "type": "color",
      "id": "btn_bg_color",
      "label": "Btn Bg Couleur",
      "default": "#000"
    },
    {
      "type": "color",
      "id": "btn_border_color",
      "label": "Btn Border Couleur",
      "default": "#000"
    },
    {
      "type": "color",
      "id": "btn_text_color",
      "label": "Btn Text Couleur",
      "default": "#fff"
    },
    {
      "type": "color",
      "id": "hv_btn_bg_color",
      "label": "Hover Btn Bg Couleur",
      "default": "#fff"
    },
    {
      "type": "color",
      "id": "hv_btn_border_color",
      "label": "Hover Btn Border Couleur",
      "default": "#000"
    },
    {
      "type": "color",
      "id": "hv_btn_text_color",
      "label": "Hover Btn Text Couleur",
      "default": "#000"
    },
    {
      "type": "image_picker",
      "id": "image_1",
      "label": "Image 1"
    },
    {
      "type": "image_picker",
      "id": "image_2",
      "label": "Image 2"
    },
    {
      "type": "url",
      "id": "btn_url",
      "label": "Btn URL"
    },
    {
      "type": "text",
      "id": "btn_lbl",
      "label": "Btn Label",
      "default": "Shop"
    },
    {
      "type": "text",
      "id": "verified_text",
      "label": "Verified Text",
      "default": "Verified"
    }
  ],
  "presets": [
    {
      "name": "Block 3"
    }
  ]
}
{% endschema %}
