<link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css">
<style>
    #shopify-section-{{ section.id }} #mission-07022023{
      background-color: {{ section.settings.bg-color }};
      width:100%;
      height:100%;
    }
   @media (min-width: 1200px) {
     #shopify-section-{{ section.id }} #mission-07022023 #r-1649431194263 {
       padding-top: 50px!important; 
       padding-bottom: 20px!important;
     }
   }
   #shopify-section-{{ section.id }} #mission-07022023 #r-1649431194263 {
     width: 100%;
   }
   #shopify-section-{{ section.id }} #mission-07022023 #r-1649431194263 .gf_row {
     max-width: 1200px; 
     margin-left: auto!important; 
     margin-right: auto!important;
   }
   #shopify-section-{{ section.id }} #mission-07022023 #r-1649431194263 .gf_row,
   #shopify-section-{{ section.id }} #mission-07022023 #r-1649431194263 .gf_column {
     position: relative; 
     z-index: 1;
   }
   #shopify-section-{{ section.id }} #mission-07022023 #r-1649431194263>.gf_column {
     min-height: 1px;
   }
   #shopify-section-{{ section.id }} #mission-07022023 #r-1649431194263 .gf_row>.gf_column {
     margin: 0;
   }
   @media (min-width: 1200px) {
     #shopify-section-{{ section.id }} #mission-07022023 #r-1649431194263 .gf_col-lg-12 {
       width: 100%;
     }
   }
   @media (min-width: 992px) {
     #shopify-section-{{ section.id }} #mission-07022023 #r-1649431194263 .gf_col-md-12 {
       width: 100%;
     }
   }
   @media (min-width: 768px) {
     #shopify-section-{{ section.id }} #mission-07022023 #r-1649431194263 .gf_col-sm-12 {
       width: 100%;
     }
   }
   #shopify-section-{{ section.id }} #mission-07022023 #r-1649431194263 .gf_col-xs-12 {
     width: 100%; 
   }
   #shopify-section-{{ section.id }} #mission-07022023 #r-1649431194263 .gf_col-lg-12,
   #shopify-section-{{ section.id }} #mission-07022023 #r-1649431194263 .gf_col-md-12,
   #shopify-section-{{ section.id }} #mission-07022023 #r-1649431194263 .gf_col-sm-12,
   #shopify-section-{{ section.id }} #mission-07022023 #r-1649431194263 .gf_col-xs-12 {
     padding-left: 15px; 
     padding-right: 15px;
   }
   #shopify-section-{{ section.id }} #mission-07022023 #r-1649431194263 .gf_equal-height>* {
     visibility: visible;
   }
   #shopify-section-{{ section.id }} #mission-07022023 #r-1649431194263 .gf_row-gap-0>.gf_column {
     padding-left: 0; 
     padding-right: 0;
   }
   #shopify-section-{{ section.id }} #mission-07022023 #r-1649431194263 .element-wrap {
     position: relative; 
     z-index: 1;
   }
   @media (min-width: 1200px) {
     #shopify-section-{{ section.id }} #mission-07022023 #r-1649431194263 .element-wrap .elm.gf-elm-center-lg {
       display: block!important; 
       text-align: center; 
       width: 100%;
     }
   }
   #shopify-section-{{ section.id }} #mission-07022023 #r-1649431194263 .element-wrap .elm.gf-elm-center {
     display: block!important; 
     text-align: center; 
     width: 100%;
   }
   @media (min-width: 1200px) {
     #shopify-section-{{ section.id }} #mission-07022023 .text-edit h3 {
       font-size: 24px!important; 
       line-height: 1.8em!important;
     }
   }
   #shopify-section-{{ section.id }} #mission-07022023 h3 {
     text-align: inherit!important; 
     margin: 0!important; 
     padding: 0!important;
   }
   @media only screen and (min-width: 750px) {
     #shopify-section-{{ section.id }} #mission-07022023 #r-1649431194263 h3,
     #shopify-section-{{ section.id }} #mission-07022023 #r-1649431194263 .h3 {
       font-size: calc(var(--font-heading-scale) * 1.8rem);
     }
   }
   #shopify-section-{{ section.id }} #mission-07022023 #r-1649431194263 h3,
   #shopify-section-{{ section.id }} #mission-07022023 #r-1649431194263 .h3 {
     font-size: calc(var(--font-heading-scale) * 1.7rem);
   }
   #shopify-section-{{ section.id }} #mission-07022023 #m-1649431122600.gf-carousel-loaded {
     min-height: 0; 
     min-width: 0; 
     transform: scale(1); 
     transition: all .6s ease;
     overflow:hidden;
   }
   @media (min-width: 1200px) {
     #shopify-section-{{ section.id }} #mission-07022023 #m-1649431122600 {
       display: none!important;
     }
   }
   #shopify-section-{{ section.id }} #mission-07022023 #m-1649431122600 {
     padding-top: 30px; 
     min-width: 100%; 
     min-height: 300px; 
     transform: scale(.9);
   }
   #shopify-section-{{ section.id }} #mission-07022023 #r-1649431194263 .module-wrap {
     position: relative; 
     z-index: 1;
   }
   @media (min-width: 1200px) {
     #shopify-section-{{ section.id }} #mission-07022023 #r-1649431122517 {
       max-width: 1200px!important; 
       padding-left: 20px!important; 
       padding-right: 20px!important; 
       padding-bottom: 0!important; 
       min-height: auto!important;
     }
   }
   #shopify-section-{{ section.id }} #mission-07022023 #r-1649431122517 {
     padding-bottom: 10px; 
     width: 100%; 
     min-height: auto!important;
   }
   #shopify-section-{{ section.id }} #mission-07022023 #r-1649431194263 .gf_row-gap-58>.gf_column {
     padding-left: 58px; 
     padding-right: 58px;
   }
   @media (min-width: 768px) {
     #shopify-section-{{ section.id }} #mission-07022023 #r-1649431194263 .gf_col-sm-4 {
       width: 33.33333%;
     }
   }
   #shopify-section-{{ section.id }} #mission-07022023 #r-1649431194263 .gf_row:after,
   #shopify-section-{{ section.id }} #mission-07022023 #r-1649431194263 .gf_row:before {
     content: " "; 
     display: table;
   }
   #shopify-section-{{ section.id }} #mission-07022023 #r-1649431194263 .gf_clearfix:after,
   #shopify-section-{{ section.id }} #mission-07022023 #r-1649431194263 .gf_row:after {
     clear: both;
   }
   #shopify-section-{{ section.id }} #mission-07022023 #r-1649431122517>.gf_column {
     min-height: 1px;
   }
   @media (min-width: 1200px) {
     #shopify-section-{{ section.id }} #mission-07022023 #r-1649431194263 .element-wrap .elm.gf-elm-center-lg {
       display: block!important; 
       text-align: center; 
       width: 100%;
     }
   }
   @media (min-width: 1200px) {
     #shopify-section-{{ section.id }} #mission-07022023 .e-1649431122635 .gf_image {
       width: 100%!important; 
       height: auto!important; 
       padding: 50px!important;
     }
   }
   #shopify-section-{{ section.id }} #mission-07022023 .e-1649431122635 .gf_image {
     width: 100%; 
     height: auto;
   }
   #shopify-section-{{ section.id }} #mission-07022023 #r-1649431194263 .gempage:not(.gempage-editing) .gf_lazyloaded {
     filter: none;
   }
   #shopify-section-{{ section.id }} #mission-07022023 #r-1649431194263 .gryffeditor img,
   #shopify-section-{{ section.id }} #mission-07022023 #r-1649431194263 .module-wrap[data-label=Popup] img {
     /* max-width: 100%;
     vertical-align: text-bottom; */
     vertical-align: bottom;
   }
   #shopify-section-{{ section.id }} #mission-07022023 #r-1649431194263 .gf_image {
     max-width: 100%!important; 
     margin-left: 0!important; 
     margin-right: 0!important; 
     display: inline-block!important;
   }
   @media (min-width: 1200px) {
     #shopify-section-{{ section.id }} #mission-07022023 .text-edit{
       font-size: 18px!important; 
       line-height: 1.6em!important; 
       letter-spacing: 0px!important; 
       color: #000!important; 
       text-transform: none!important;
     }
   }
   #shopify-section-{{ section.id }} #mission-07022023 .text-edit {
     line-height: 1.6!important;
   }
   @media (min-width: 1200px) {
     #shopify-section-{{ section.id }} #mission-07022023 #r-1649431194263 .gf_image {
       width: 70%!important; 
       height: auto!important; 
       padding: 0px!important;
     }
   }
   #shopify-section-{{ section.id }} #mission-07022023 .gf_image {
     width: 100%; 
     height: auto;
   }
   @media (min-width: 1200px) {
     #shopify-section-{{ section.id }} #mission-07022023 .element-wrap .elm.gf-elm-center-lg {
       display: block!important; 
       text-align: center; 
       width: 100%;
     }
   }
   #shopify-section-{{ section.id }} #mission-07022023 #r-1649431194263 .element-wrap .elm.gf-elm-center {
     display: block!important; 
     text-align: center; 
     width: 100%;
   }
   @media (min-width: 1200px) {
     #shopify-section-{{ section.id }} #mission-07022023  {
       margin-top: 40px!important; 
       margin-bottom: 40px!important;
     }
   }
   @media (min-width: 1200px) {
     #shopify-section-{{ section.id }} #mission-07022023  .gf_button {
       font-size: 16px!important; 
       text-transform: uppercase!important; 
       background-color: #ffb833!important; 
       color: #000!important; 
       padding: 14px 90px!important; 
       border-width: 3px!important;
     }
   }
   #shopify-section-{{ section.id }} #mission-07022023  .gf_button {
     display: inline-block; 
     margin: 0!important;
   }
   #shopify-section-{{ section.id }} #mission-07022023  #m-1621311562361 a {
     border: none; 
     text-decoration: none;
   }
   #shopify-section-{{ section.id }} #mission-07022023  #r-1649431194263 .gf_button {
     white-space: normal!important;
   }
   #shopify-section-{{ section.id }} #mission-07022023  #r-1649431194263 .button {
     font-size: 1.5rem; 
     letter-spacing: .1rem; 
     line-height: calc(1 + .2 / var(--font-body-scale)); 
     text-decoration: none;
   }
   #shopify-section-{{ section.id }} #mission-07022023  #r-1649431122517 {
     min-height: 677px; 
     display: flex;
     align-items:center;
   }
   @media (max-width:540px) {
     #shopify-section-{{ section.id }} #mission-07022023  #r-1649431122517 {
       display: none;
     }
   }
   @media (min-width:600px) {
     #shopify-section-{{ section.id }} #mission-07022023  #m-1649431122600 {
       display: none;
     }
   }
   #shopify-section-{{ section.id }} #mission-07022023  #r-1649431194263 .center {
     text-align: center;
   }
   #shopify-section-{{ section.id }} #mission-07022023  #m-1649431122600.gf-carousel-loaded {
     min-height: 0; 
     min-width: 0; 
     transform: scale(1); 
     transition: all .6s ease;
   }
   @media (max-width: 767px) {
     #shopify-section-{{ section.id }} #mission-07022023  #m-1649431122600 {
       padding-top: 0!important; 
       padding-right: 0!important; 
       padding-bottom: 0!important; 
       margin-bottom: 0!important;
     }
   }
   #shopify-section-{{ section.id }} #mission-07022023  #m-1649431122600 .main-slider {
     min-height: 80px;
   }
   #shopify-section-{{ section.id }} #mission-07022023  #m-1649431122600 .no-js .owl-carousel,
   #shopify-section-{{ section.id }} #mission-07022023  #m-1649431122600 .owl-carousel.owl-loaded {
     display: block;
   }
   #shopify-section-{{ section.id }} #mission-07022023  .module-wrap .module {
     padding: 0!important; 
     max-width: auto!important;
   }
   #shopify-section-{{ section.id }} #mission-07022023  #m-1649431122600 .owl-carousel {
     display: none; 
     width: 100%; 
     z-index: 1;
   }
   #shopify-section-{{ section.id }} #mission-07022023  #m-1649431122600 .owl-carousel,
   #shopify-section-{{ section.id }} #mission-07022023  .owl-carousel .owl-item {
     -webkit-tap-highlight-color: transparent; 
     position: relative;
   }
   #shopify-section-{{ section.id }} #mission-07022023  #m-1649431122600 .owl-carousel .owl-stage-outer {
     position: relative; 
     overflow: hidden; 
     -webkit-transform: translate3d(0, 0, 0);
   }
   #shopify-section-{{ section.id }} #mission-07022023  #m-1649431122600 .owl-carousel .owl-stage {
     position: relative; touch-action: manipulation;
   }
   #shopify-section-{{ section.id }} #mission-07022023  #m-1649431122600 .owl-carousel .owl-stage {
     transition-timing-function: linear!important;
   }
   #shopify-section-{{ section.id }} #mission-07022023  #m-1649431122600 .main-slider .owl-item {
     padding: 0!important;
   }
   #shopify-section-{{ section.id }} #mission-07022023  #m-1649431122600 .owl-carousel .owl-item {
     min-height: 1px; 
     float: left; 
     -webkit-backface-visibility: hidden;
   }
   #shopify-section-{{ section.id }} #mission-07022023  #m-1649431122600 .owl-carousel .owl-item>.item {
     width: 100%; 
     position: relative; 
     z-index: 10; 
     max-height: auto!important; 
     margin: 0!important; 
     padding: 0!important;
   }
   @media (max-width: 767px) {
     #shopify-section-{{ section.id }} #mission-07022023  .r-1649431122626 {
       max-width: 95%!important; 
       box-shadow: .10471443862370158px 5.999086170938348px 10px 3px #bababa!important;
       margin-top: 30px!important; 
       margin-right: auto!important; 
       margin-bottom: 50px!important;
     }
   }
   #shopify-section-{{ section.id }} #mission-07022023  .r-1649431122626 {
     padding-bottom: 10px; 
     width: 100%;
   }
   @media (max-width: 767px) {
     #shopify-section-{{ section.id }} #mission-07022023  .element-wrap .elm.gf-elm-center-xs {
       display: block!important; 
       text-align: center; 
       width: 100%;
     }
   }
   @media (max-width: 767px) {
     #shopify-section-{{ section.id }} #mission-07022023  .gf_image {
       width: auto !important; 
       height: 125px !important; 
       padding-top: 10px !important; 
       padding-left: 5px !important; 
       padding-bottom: 10px !important;
     }
   }
   @media (max-width: 767px) {
     #shopify-section-{{ section.id }} #mission-07022023  .e-1649431122651 {
       margin-bottom: 40px !important; 
       margin-left: 0 !important;
     }
   }
   @media (max-width: 767px) {
     #shopify-section-{{ section.id }} #mission-07022023  .text-edit {
       font-size: 16px!important; 
       line-height: 1.6em!important; 
       letter-spacing: 0px!important; 
       color: {{ section.settings.text-color }} !important; 
       text-transform: none!important; 
       padding: 0!important;
     }
   }
   #shopify-section-{{ section.id }} #mission-07022023  .text-edit>p {
     font-size: inherit!important; 
     font-family: inherit!important; 
     line-height: inherit!important; 
     text-align: inherit!important; 
     color: {{ section.settings.text-color }} !important; 
     margin: 0!important; 
     padding: 0!important;
   }
   #shopify-section-{{ section.id }} #mission-07022023  .text-edit {
     line-height: 1.6!important;
   }


  
   #shopify-section-{{ section.id }} #mission-07022023  #m-1649431122600 .main-slider .owl-dots {
     position: absolute; 
     bottom: -2px; left: 0; right: 0;
   }
   #shopify-section-{{ section.id }} #mission-07022023  #m-1649431122600 .owl-theme .owl-nav.disabled+.owl-dots {
     margin-top: 10px;
   }
   #shopify-section-{{ section.id }} #mission-07022023  #m-1649431122600 .owl-theme .owl-dots,
   #shopify-section-{{ section.id }} #mission-07022023  #m-1649431122600 .owl-theme .owl-nav {
     text-align: center; 
     -webkit-tap-highlight-color: transparent;
   }
   #shopify-section-{{ section.id }} #mission-07022023  #m-1649431122600 .main-slider .owl-dots button {
     margin: 0!important; 
     padding: 0!important; 
     border: none; 
     width: auto!important; 
     height: auto!important; 
     min-width: auto!important; 
     min-height: auto!important;
   }
   #shopify-section-{{ section.id }} #mission-07022023  #m-1649431122600 .owl-theme .owl-dots .owl-dot {
     display: inline-block; zoom: 1;
   }
   #shopify-section-{{ section.id }} #mission-07022023  #m-1649431122600 .owl-carousel .owl-nav button.owl-next,
   #shopify-section-{{ section.id }} #mission-07022023  #m-1649431122600 .owl-carousel .owl-nav button.owl-prev,
   #shopify-section-{{ section.id }} #mission-07022023  #m-1649431122600 .owl-carousel button.owl-dot {
     background: 0 0; 
     color: inherit;
     /* border: none; */
     /* padding: 0!important; */
     font: inherit;
   }
  #shopify-section-{{ section.id }} #mission-07022023  .swiper-pagination-bullet-active {
      background: {{ section.settings.dot-slider-color }} !important;
  }
</style>
<section id="mission-07022023">
  <div class="gf_row" id="r-1649431194263">
     <div class="gf_column gf_col-lg-12 gf_col-md-12 gf_col-sm-12 gf_col-xs-12" data-id="1649431194300" id="c-1649431194300">
        <div class="gf_row gf_equal-height gf_row-gap-0" id="r-1649431122585" style="display: flex; flex-wrap: wrap; visibility: visible;">
           <div class="gf_column gf_col-md-12 gf_col-sm-12 gf_col-xs-12 gf_col-lg-12" id="c-1631524686125" style="display: flex; flex-direction: column; justify-content: flex-start; min-height: auto;">
              <div class="module-wrap gf-carousel-loaded" id="m-1649431122600">
                 <div class="owl-carousele swiper-initialized swiper-horizontal swiper-pointer-events">
                    <div class="swiper-wrapper" id="swiper-wrapper-7791f2110c4ce0107" aria-live="polite" style="transition-duration: 0ms;">
                      {% for block in section.blocks %} 
                        <div class="swiper-slide">
                            <div class="gf_row gf_row-gap-60 r-1649431122626">
                               <div class="gf_column gf_col-lg-12 gf_col-md-12 gf_col-sm-12 gf_col-xs-12" id="c-1632945514696">
                                  <div class="element-wrap" id="e-1649431122623">
                                     <div class="elm gf-elm-center gf_elm-left-xs gf-elm-center-lg gf-elm-center-md gf-elm-center-sm gf-elm-center-xs">
                                        <img src="{{ block.settings.image | img_url:"master" }}" alt="" class="gf_image gf_lazyload fr-draggable" width="480" height="480">
                                     </div>
                                  </div>
                                  <div class="element-wrap e-1649431122651">
                                     <div class="elm text-edit gf-elm-left gf-elm-center-lg gf-elm-center-md gf-elm-center-xs gf-elm-center-sm">
                                        <p>{{ block.settings.content }}</p>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                       {% endfor %}
                    </div>
                    <div class="swiper-paginatione swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal" style="text-align: center;"></div>
                    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                 </div>
              </div>
              <div class="gf_row gf_row-gap-58" data-key="row" data-label="Row" id="r-1649431122517">
                {% for block in section.blocks %}
                   <div class="gf_column gf_col-lg-4 gf_col-md-4 gf_col-sm-4 gf_col-xs-12" data-id="1631531149664" id="c-1631531149664">
                      <div class="element-wrap e-1649431122635" data-icon="gpicon-image" data-id="1649431122635" data-key="image" data-label="Image" data-resolution="480x480" data-ver="1.0">
                         <div class="elm gf-elm-center gf_elm-left-xs gf-elm-center-lg gf-elm-center-md gf-elm-center-sm gf-elm-center-xs" data-exc="">
                            <img src="{{ block.settings.image | img_url:"master" }}" alt="" class="gf_image gf_lazyload gf_lazyloaded gf_lazyload_done fr-draggable" data-gemlang="en" data-width="auto" data-height="125px" title="" width="480" height="480" data-lg-size="480x480" data-lazy-loaded="480">
                         </div>
                      </div>
                      <div class="element-wrap" data-icon="gpicon-textblock" data-id="1649431122662" data-key="text-block" data-label="Text Block" data-ver="1" id="e-1649431122662">
                         <div class="elm text-edit gf-elm-left gf-elm-center-lg gf-elm-center-md gf-elm-center-xs gf-elm-center-sm" data-exc="" data-gemlang="en">
                            <p>{{ block.settings.content }}</p>
                         </div>
                      </div>
                   </div>
                {% endfor %}
              </div>
           </div>
        </div>
     </div>
  </div>
</section>

<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
<script>
   const swiper2 = new Swiper('.owl-carousele',
   {
   	slidesPerView: (window.screen.width <= 540) ? "auto" : 3,
   	spaceBetween: 0,
   	dots: true,
   	centeredSlides: (window.screen.width <= 540) ? true : false,
   	pagination:
   	{
   		el: '.swiper-paginatione',
   		clickable: true
   	},
   });
   
</script>
{% schema %}
  {
    "name": "Section O",
    "blocks": [
      {
          "type": "item",
          "name": "Item",
          "settings": [
            {
              "type":"image_picker",
              "id":"image",
              "label":"Image"
            },
            {
                "type":"textarea",
                "id":"content",
                "label":"Contenu",
                "default":"Lorem ipsum dolor sit amet, consectetur adipiscing elitore magna aliqua."
            }
          ]
      }
    ],
    "settings": [
      {
          "type":"color",
          "id":"bg-color",
          "label":"Couleur de fond",
          "default":"#fff"
      },
      {
          "type":"color",
          "id":"text-color",
          "label":"Couleur de texte",
          "default":"#000"
      },
      {
          "type":"color",
          "id":"dot-slider-color",
          "label":"Couleur de pagination slider",
          "default":"#000"
      }
    ],
    "presets": [
      {
          "name": "Section O",
          "category": "Custom Ss"
      }
    ]
  }
{% endschema %}