<style>
  #icontext200423 {
      width: 100%;
      height: auto;
      position: relative;
      background-color: {{ section.settings.bg_color }};
      color: {{ section.settings.text_color }} !important;
      padding: 40px 10px;
      text-align: center;
  }
  #icontext200423 .wrapper {
      max-width: 1400px;
      margin: 0 auto;
      display: grid;
      grid-template-columns: repeat(4, minmax(0, 1fr));
      gap: 80px;
  }
  #icontext200423 .icon_text {
      width: 100%;
      text-transform: uppercase;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }
  #icontext200423 .heading {
      font-size: 13px !important;
      font-weight: 600;
      font-style: normal;
      line-height: 1.2;
      color: {{ section.settings.text_color }};
      margin: 7px 0px;
  }
  #icontext200423 .desc {
      font-size: 12px !important;
      font-weight: 500;
      font-style: normal;
      line-height: 1.2;
      color: {{ section.settings.text_color }};
  }
  #icontext200423 .icon {
          height: 70px;
          width: 70px;
          margin-bottom: 5px;
      }
  #icontext200423 .icon img {
      max-width: 100%;
      width: 100%;
      object-fit: cover;
  }
  @media only screen and (max-width: 1000px) {
      #icontext200423 .wrapper {
          grid-template-columns: repeat(2, minmax(0, 1fr));
          row-gap: 20px !important;
          column-gap: 30px;
      }
      #icontext200423 .heading {
          font-size: 11px !important;
      }
     #icontext200423  .desc {
          font-size: 10px !important;
      }
     #icontext200423  .icon {
          height: 60px;
          width: 60px;
      }
  }
</style>

<section id="icontext200423">
  <div class="wrapper">
    {% for block in section.blocks %}
      <div class="icon_text">
        <div class="icon">
          <img src="{{ block.settings.icon | img_url: "master" }}" alt="">
        </div>
        <div class="text">
          <h3 class="heading">
            {{ block.settings.text }}
          </h3>
          <p class="desc">
            {{ block.settings.description }}
          </p>
        </div>
      </div>
    {% endfor %}
  </div>
</section>

{% schema %}
{
  "name": "Text Icon",
  "blocks": [
    {
      "type": "item",
      "name": "item",
      "settings": [
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Icone"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Texte",
          "default":"Lorem ipsun..."
        },
        {
          "type": "textarea",
          "id": "description",
          "label": "Description",
          "default":"Lorem ipsun..."
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "color",
      "id": "bg_color",
      "label": "Couleur de fond",
      "default": "#fff"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Couleur de texte",
      "default": "#000"
    }
  ],
  "presets": [
    {
      "name": "Text Icon"
    }
  ]
}
{% endschema %}
