<style>
    #shopify-section-{{ section.id }} #mission-20230114 .announcement-bar {
      background:{{ section.settings.bg-color }} !important;
      position:fixed;
      z-index:1000;
    }
    #shopify-section-{{ section.id }} #mission-20230114 .announcement-bar__link {
      display: block;
      width: 100%;
      padding: 1rem 2rem;
    }
    #shopify-section-{{ section.id }} #mission-20230114 .h5 {
      font-size: calc(1.0 * 1.2rem);
    }
    #shopify-section-{{ section.id }} #mission-20230114 .h5 {
      font-style: normal;
      font-weight: 500;
      line-height: calc(1 + .3/max(1,1.0));
      word-break: break-word;
      color:{{ section.settings.text-color }} !important;
    }
    #shopify-section-{{ section.id }} #mission-20230114 .announcement-bar__message {
      text-align: center;
      padding: 1rem 2rem;
      margin: 0;
      letter-spacing: .1rem;
    }
    #shopify-section-{{ section.id }} #mission-20230114 .announcement-bar__link .announcement-bar__message {
      padding: 0;
    }
    #shopify-section-{{ section.id }} #mission-20230114 .announcement-bar__link svg {
      display: inline-block;
      pointer-events: none;
      margin-left: 0.8rem;
      vertical-align: middle;
      margin-bottom: 0.2rem;
    }
  </style>
  <section id="mission-20230114">
    <div class="announcement-bar">
      <div class="announcement-bar__link">
        <p class="announcement-bar__message h5">
          {{ section.settings.desc }}
          {{ section.settings.icon }}
        </p>
      </div>
    </div>
  </section>
  {% schema %}
    {
      "name": "Announcement Bar Section",
      "settings": [
        {
          "type":"color",
          "id":"text-color",
          "label":"Couleur du texte",
          "default":"#fff"
        },
        {
          "type":"color",
          "id":"bg-color",
          "label":"Couleur de fond",
          "default":"#e22120"
        },
        {
          "type":"textarea",
          "id":"desc",
          "label":"Description",
          "default":"Promo Spécial Nouvel An !! -25% sur tous les articles: faites plaisir à vos proches!"
        },
        {
          "type":"textarea",
          "id":"icon",
          "label":"Icône"
        }
      ],
      "presets": [
        {
          "name": "Announcement Bar Section",
          "category": "Custom Ss"
        }
      ]
    }
  {% endschema %}