<style>
         .sh--1 {
    -webkit-box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.7);
    box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.7);
    transition: 500ms ease box-shadow;
  }
  .sh--2 {
    -webkit-box-shadow: 0px 0px 15px 0px rgba(246,246,246,0.2), 0px 0px 15px 0px rgba(246,246,246,0.2);
    box-shadow: 0px 0px 15px 0px rgba(246,246,246,0.2), 0px 0px 15px 0px rgba(246,246,246,0.2);
    transition: 500ms ease box-shadow;
  }
  .sh--3 {
    transition: 500ms ease box-shadow;
  }
        #shopify-section-{{ section.id }} #imagetextbtn4120910132 {
            padding: {{ section.settings.desktop_top_spacing }}px {{ section.settings.desktop_left_spacing }}px {{ section.settings.desktop_bottom_spacing }}px {{ section.settings.desktop_right_spacing }}px;
            background-color: {{ section.settings.bg_color }};
            position: relative;
            width: 100%;
        }
        #shopify-section-{{ section.id }} #imagetextbtn4120910132 .imagetextbtn4120910132_container {
            width: 100%;
            display: flex;
            flex-direction: row;
            margin: 0 auto;
            border-radius: {{ section.settings.radius }}px;
            background-color: {{ section.settings.card_color }};
            max-width: 1064px;
        }
        #shopify-section-{{ section.id }} #imagetextbtn4120910132 .imagetextbtn4120910132_image {
            max-width: 408px;
            min-height: 499px;
            padding: 24px;
            flex-shrink: 0;
        }
        #shopify-section-{{ section.id }} #imagetextbtn4120910132 .imagetextbtn4120910132_image img {
            display: block;
            width: 100%;
            height: auto;
            min-width: 100%;
            max-width: 100%;
            min-height: 100%;
            max-height: 100%;
            color: transparent;
            object-fit: cover;
        }
        #shopify-section-{{ section.id }} #imagetextbtn4120910132 .imagetextbtn4120910132_content {
            order: 2;
            width: 100%;
            text-align: center;
            justify-content: center;
            align-items: center;
            display: flex;
            flex-direction: column;
            padding: 48px;
        }
        #shopify-section-{{ section.id }} #imagetextbtn4120910132 .imagetextbtn4120910132_heading {
            line-height: 45px;
            font-weight: 500;
            color: {{ section.settings.text_color }};
          font-size: {{ section.settings.t_title }}px;
        }
        #shopify-section-{{ section.id }} #imagetextbtn4120910132 .imagetextbtn4120910132_description {
            line-height: 27px;
            margin-top: 24px;
              color: {{ section.settings.text_color }};
          font-size: {{ section.settings.t_text }}px;
        }
        #shopify-section-{{ section.id }} #imagetextbtn4120910132 .imagetextbtn4120910132_btn {
            margin-top: 32px;
            display: inline-block;
            min-width: 100px;
            padding: 0 30px;
            height: 50px;
            border-radius: 30px;
            border: 1px solid {{ section.settings.text_color }};
              color: {{ section.settings.text_color }};
          font-size: {{ section.settings.t_text }}px;
            text-transform: uppercase;
            text-decoration: none;
            text-align: center;
            line-height: 49px;
            letter-spacing: .05em;
            cursor: pointer;
            transition: .3s;
        }
        @media only screen and (max-width: 780px)  {
            #shopify-section-{{ section.id }} #imagetextbtn4120910132 {
                padding: {{ section.settings.mobile_top_spacing }}px {{ section.settings.mobile_left_spacing }}px {{ section.settings.mobile_bottom_spacing }}px {{ section.settings.mobile_right_spacing }}px;
            }
            #shopify-section-{{ section.id }} #imagetextbtn4120910132 .imagetextbtn4120910132_container {
                flex-direction: column;
            }
            #shopify-section-{{ section.id }} #imagetextbtn4120910132 .imagetextbtn4120910132_content {
                padding: 24px 24px 0;
                text-align: left;
                align-items: flex-start;
                order: 1;
            }
            #shopify-section-{{ section.id }} #imagetextbtn4120910132 .imagetextbtn4120910132_heading {
                margin-bottom: 0;
                padding-bottom: 8px;
                font-size: {{ section.settings.m_title }}px;
                line-height: 32px;
            }
            #shopify-section-{{ section.id }} #imagetextbtn4120910132 .imagetextbtn4120910132_description {
                font-size: {{ section.settings.m_text }}px;
                line-height: 25px;
                margin-top: 0;
            }
            #shopify-section-{{ section.id }} #imagetextbtn4120910132 .imagetextbtn4120910132_btn {
                display: block;
                width: 100%;
                overflow: hidden;
                padding: 0 8px;
                font-size: {{ section.settings.m_btn }}px;
            }
            #shopify-section-{{ section.id }} #imagetextbtn4120910132 .imagetextbtn4120910132_image {
                margin-top: 24px;
                padding: 12px;
                min-width: 100%;
                min-height: 100%;
                order: 2 !important;
            }
        }
</style>

<section
  id="imagetextbtn4120910132"
  style="{% if section.settings.border_top %}border-top: 1px solid {{ section.settings.color_border }};{% endif %}{% if section.settings.border_bottom %}border-bottom: 1px solid {{ section.settings.color_border }};{% endif %}"
>
  <div class="imagetextbtn4120910132_container {{ section.settings.sh_image }}">
    <div class="imagetextbtn4120910132_image">
      <img src="{{ section.settings.image | img_url: "master" }}">
    </div>
    <div class="imagetextbtn4120910132_content">
      <h2 class="imagetextbtn4120910132_heading">
        {{ section.settings.title }}
      </h2>
      <p class="imagetextbtn4120910132_description">
        {{ section.settings.subtitle }}
      </p>
      <a href="{{ section.settings.url_link }}" class="imagetextbtn4120910132_btn">{{ section.settings.text_link }}</a>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Image - Texte - Bouton",
    "settings": [
      {
       "type":"header",
       "content":"Section Codée par SkillsUp"
    },
    {
       "type":"paragraph",
       "content":"Pour toute demande d'information supplémentaire, veuillez [nous contacter](https://skills-up.co/)."
    },
    {
       "type":"header",
       "content":"CONFIGURATION DES COULEURS"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Couleur de fond de la section",
      "default": "#f5f5f5"
    },
    {
      "type": "color",
      "id": "card_color",
      "label": "Couleur de carte",
      "default": "#fff"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Couleur de texte",
      "default": "#000"
    },
    {
       "type":"header",
       "content":"CONFIGURATION DU CONTENU"
    },
      {
  "type": "image_picker",
  "id": "image",
  "label": "Image"

},
    {
      "type": "text",
      "id": "title",
      "label": "Titre",
      "default": "shake up a smoothie in seconds"
    },
    {
      "type": "range",
      "id": "radius",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Bordure arrondie",
      "default": 16
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Sous Titre",
      "default": "How it works"
    },
    {
      "type": "text",
      "id": "text_link",
      "label": "Texte du Lien",
      "default": "Shop now"
    },
    {
      "type": "url",
      "id": "url_link",
      "label": "URL du Lien"
    },
       {
         "type":"header",
         "content":"CONFIGURATION DES TAILLES DE TEXTES"
      },
      {
         "type":"range",
         "id":"t_title",
         "label":"Taille du Titre de la section sur bureau",
         "min":0,
         "max":40,
         "unit":"px",
         "default":26
      },
      {
         "type":"range",
         "id":"t_text",
         "label":"Taille du Texte sur bureau",
         "min":0,
         "max":40,
         "unit":"px",
         "default":14
      },
      {
         "type":"range",
         "id":"t_btn",
         "label":"Taille du bouton sur bureau",
         "min":0,
         "max":40,
         "unit":"px",
         "default":18
      },
      {
         "type":"range",
         "id":"m_title",
         "label":"Taille du Titre de la section sur mobile",
         "min":0,
         "max":40,
         "unit":"px",
         "default":26
      },
      {
         "type":"range",
         "id":"m_text",
         "label":"Taille du Texte sur mobile",
         "min":0,
         "max":40,
         "unit":"px",
         "default":14
      },
      {
         "type":"range",
         "id":"m_btn",
         "label":"Taille du bouton sur mobile",
         "min":0,
         "max":40,
         "unit":"px",
         "default":18
      },
      {
         "type":"header",
         "content":"CONFIGURATION DES ESPACES"
      },
      {
         "type":"range",
         "id":"desktop_top_spacing",
         "min":0,
         "max":200,
         "step":5,
         "unit":"px",
         "label":"Espacement supérieur du bureau",
         "default":40
      },
      {
         "type":"range",
         "id":"desktop_bottom_spacing",
         "min":0,
         "max":200,
         "step":5,
         "unit":"px",
         "label":"Espacement inférieur du bureau",
         "default":40
      },
      {
         "type":"range",
         "id":"desktop_left_spacing",
         "min":0,
         "max":200,
         "step":5,
         "unit":"px",
         "label":"Espacement à gauche du bureau",
         "default":40
      },
      {
         "type":"range",
         "id":"desktop_right_spacing",
         "min":0,
         "max":200,
         "step":5,
         "unit":"px",
         "label":"Espacement à droite du bureau",
         "default":40
      },

      {
        "type": "header",
        "content": "CONFIGURATION DES OMBRES"
      },
      {
        "type": "select",
        "id": "sh_image",
        "label": "Ombre sur l'image/vidéo",
        "default": "",
        "options": [
          { "value": "", "label": "Pas d'ombres" },
          { "value": "sh--1", "label": "Style 1" },
          { "value": "sh--2", "label": "Style 2" },
          { "value": "sh--3", "label": "Sytle 3" },
          { "value": "sh--4", "label": "Sytle 4" }
        ]
      },
      {
         "type":"header",
         "content":"CONFIGURATION DES BORDURES"
      },
      {
        "type": "checkbox",
        "id": "border_top",
        "label": "Afficher une bordure en haut"
      },
      {
        "type": "checkbox",
        "id": "border_bottom",
        "label": "Afficher une bordure en bas"
      },
      {
        "type": "color",
        "id": "color_border",
        "label": "Couleur des bordures",
        "info": "Fonctionne si les bordures sont sélectionnées ci-dessus.",
        "default": "#000"
      }
    ],
  "presets": [
    {
      "name": "Image - Texte - Bouton"
    }
  ]
  }
{% endschema %}
