<style>
    #shopify-section-{{ section.id }} #gridproductsection180123 div:empty{
      display:block;
    }
    #shopify-section-{{ section.id }} #gridproductsection180123 {
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0;
      position: static;
      color: {{ section.settings.text-color }};
      font-family: AcherusGrotesque !important;
      font-style: normal;
      font-weight: 400;
      font-size: 1rem;
      line-height: 1.3 !important;
      letter-spacing: -.02em;
      background-repeat: no-repeat;
    }
    #shopify-section-{{ section.id }} #gridproductsection180123 .container {
      max-width: 100%;
      margin: auto;
    }
    
    #shopify-section-{{ section.id }} #gridproductsection180123  .footer {
        display: flex;
        justify-content: center;
        font-size: .875rem;
        margin: 40px 0 20px 0;
        position: relative;
    }
    
    #shopify-section-{{ section.id }} #gridproductsection180123  .footer a {
        color: {{ section.settings.text-color }};
        margin: 0 10px;
        text-decoration: underline;
        cursor: pointer;
        background-color: transparent;
    }
    @media only screen and (min-width: 768px) {
        #shopify-section-{{ section.id }} #gridproductsection180123  .container {
            max-width: 872px;
            padding: 20px;
        }
    }
  </style>
  <section id="gridproductsection180123">
    <div class="container">
      <div class="footer">
        {% for el in section.settings.footer_menu.links %}
          <a href="{{ el.url }}" target="_blank" rel="noopener noreferrer">{{ el.title | escape }}</a> 
          {% if forloop.last %} {% else %} • {% endif %}
        {% endfor %}
      </div>
    </div>
  </section>
  {% schema %}
    {
      "name": "Footer Menu Section",
      "settings": [
        {
          "type":"color",
          "id":"text-color",
          "label":"Couleur du texte",
          "default":"#000"
        },
        {
          "type":"link_list",
          "id":"footer_menu",
          "label":"Menu footer"
        }
      ],
      "presets": [
        {
          "name": "Footer Menu Section",
          "category": "Custom Ss"
        }
      ]
    }
  {% endschema %}