<style>
   #shopify-section-{{ section.id }} #blockvideobbx123608 {
      width: 100%;
      position: relative;
      padding: {{ section.settings.desktop_top_spacing }}px {{ section.settings.desktop_left_spacing }}px {{ section.settings.desktop_bottom_spacing }}px {{ section.settings.desktop_right_spacing }}px;
      overflow: hidden;
      background-color: {{ section.settings.bg_color }};
  }
   #shopify-section-{{ section.id }} #blockvideobbx123608   .blockvideobbx123608_container {
      margin: 0 auto;
      width: 100%;
      max-width: {% if section.settings.full_with %} 100% {% else %} {{ section.settings.max_width }}px {% endif %};
      display: flex;
      flex-direction: row;
      gap: 20px;
  }
   #shopify-section-{{ section.id }} #blockvideobbx123608   .blockvideobbx123608_content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      width: 50%;
  }
   #shopify-section-{{ section.id }} #blockvideobbx123608   .blockvideobbx123608_list {
      counter-reset: tout-list-item;
      margin-top: 32px;
  }
   #shopify-section-{{ section.id }} #blockvideobbx123608   .blockvideobbx123608_list ul {
      list-style: none;
      padding: 0;
  }
   #shopify-section-{{ section.id }} #blockvideobbx123608   .blockvideobbx123608_list ul li {
      margin-bottom: 16px;
      font-size: 20px;
      display: flex;
      counter-increment: tout-list-item;
      align-items: baseline;
      text-align: left;
      -webkit-box-align: baseline;
      padding: 0;
      color: {{ section.settings.text_color }};
  }
   #shopify-section-{{ section.id }} #blockvideobbx123608   .blockvideobbx123608_list ul li::before {
      width:  32px;
      height: 32px;
      margin-right: 16px;
      justify-content: center;
      font-weight: 600;
      -webkit-box-pack: center;
      font-size: 16px;
      font-weight: 600;
      display: flex;
      border-radius: 50%;
      align-items: center;
      background-color: {{ section.settings.nb_bg_color }};
      color: {{ section.settings.nb_text_color }};
      content: counter(tout-list-item);
  }
   #shopify-section-{{ section.id }} #blockvideobbx123608   .blockvideobbx123608_head {
      width: 100%;
      position: relative;
      padding: 0;
      text-align: left;
  }
   #shopify-section-{{ section.id }} #blockvideobbx123608   .blockvideobbx123608_head h2 {
      margin-bottom: 16px;
      font-size: 44px;
      letter-spacing: -1.6px;
      margin-top: 0;
      font-weight: 300;
      color: {{ section.settings.text_color }};
  }
   #shopify-section-{{ section.id }} #blockvideobbx123608   .blockvideobbx123608_tagline {
      display: inline-block;
      font-size: 14px;
      font-weight: 600;
      line-height: 1;
      position: relative;
      margin-bottom: 20px;
      text-align: center;
      text-transform: uppercase;
      color: {{ section.settings.text_color }};
  }
   #shopify-section-{{ section.id }} #blockvideobbx123608   .blockvideobbx123608_tagline::after {
      background-color: {{ section.settings.line_color }};
      content: "";
      left: 0;
      position: absolute;
      bottom: -.5rem;
      height: 2px;
      width: 100%;
  }
   #shopify-section-{{ section.id }} #blockvideobbx123608   .blockvideobbx123608_image {
      width: 50%;
      position: relative;
      overflow: hidden;
  }
   #shopify-section-{{ section.id }} #blockvideobbx123608   .blockvideobbx123608_image img {
      width: 100%;
      max-width: 100%;
      height: auto;
      object-fit: cover;
  }
  @media only screen and (max-width: 780px) {
       #shopify-section-{{ section.id }} #blockvideobbx123608   .blockvideobbx123608_head h2 {
          font-size: 30px;
      }
       #shopify-section-{{ section.id }} #blockvideobbx123608   .blockvideobbx123608_tagline {
          font-size: 12px;
      }
       #shopify-section-{{ section.id }} #blockvideobbx123608   .blockvideobbx123608_list ul li {
          font-size: 14px;
      }
       #shopify-section-{{ section.id }} #blockvideobbx123608   .blockvideobbx123608_list ul li::before {
          font-size: 12px;
          width:  28px;
          height: 28px;
      }
  }
  @media only screen and (max-width: 1024px) {
       #shopify-section-{{ section.id }} #blockvideobbx123608 {
          padding: {{ section.settings.mobile_top_spacing }}px {{ section.settings.mobile_left_spacing }}px {{ section.settings.mobile_bottom_spacing }}px {{ section.settings.mobile_right_spacing }}px;
      }
       #shopify-section-{{ section.id }} #blockvideobbx123608   .blockvideobbx123608_container {
          flex-direction: column-reverse;
      }
       #shopify-section-{{ section.id }} #blockvideobbx123608   .blockvideobbx123608_image,
       #shopify-section-{{ section.id }} #blockvideobbx123608   .blockvideobbx123608_content {
          width: 100%;
      }
       #shopify-section-{{ section.id }} #blockvideobbx123608   .blockvideobbx123608_head {
          text-align: center;
      }
  }
</style>

<section id="blockvideobbx123608">
  <div class="blockvideobbx123608_container">
    <div class="blockvideobbx123608_content">
      <div class="blockvideobbx123608_head">
        <span class="blockvideobbx123608_tagline">{{ section.settings.subheading }}</span>
        <h2>{{ section.settings.heading }}</h2>
      </div>
      <div class="blockvideobbx123608_list">
        <ul>
          {% for block in section.blocks %}
            <li>
              {{ block.settings.text }}
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="blockvideobbx123608_image">
      <img src="{{ section.settings.image | img_url: "master" }}" alt="">
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Block Video",
  "blocks": [
    {
    "type": "item",
    "name": "item",
    "settings": [
      {
        "type": "richtext",
        "id": "text",
        "label": "Texte"
      }
    ]
  }
],
  "settings": [
    {
      "type":"color",
      "id":"bg_color",
      "label":"Bg color",
      "default":"#fff"
    },
    {
      "type":"color",
      "id":"nb_bg_color",
      "label":"Number Bg color",
      "default":"#f2f2f2"
    },
    {
      "type":"color",
      "id":"nb_text_color",
      "label":"Number text color",
      "default":"#000"
    },
    {
      "type":"color",
      "id":"line_color",
      "label":"Line color",
      "default":"#000"
    },
    {
      "type":"color",
      "id":"text_color",
      "label":"Text color",
      "default":"#000"
    },
    {
      "type":"image_picker",
      "id":"image",
      "label":"Image"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "GLide & Glow"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Sub Heading",
      "default": "How To"
    },
  {
    "type": "range",
    "id": "desktop_top_spacing",
    "min": 0,
    "max": 200,
    "step": 5,
    "unit": "px",
    "label": "Desktop Top Spacing",
    "default": 40
  },
  {
    "type": "range",
    "id": "desktop_bottom_spacing",
    "min": 0,
    "max": 200,
    "step": 5,
    "unit": "px",
    "label": "Desktop Bottom Spacing",
    "default": 40
  },
  {
    "type": "range",
    "id": "desktop_left_spacing",
    "min": 0,
    "max": 200,
    "step": 5,
    "unit": "px",
    "label": "Desktop Left Spacing",
    "default": 40
  },
  {
    "type": "range",
    "id": "desktop_right_spacing",
    "min": 0,
    "max": 200,
    "step": 5,
    "unit": "px",
    "label": "Desktop Right Spacing",
    "default": 40
  },
  {
    "type": "range",
    "id": "mobile_top_spacing",
    "min": 0,
    "max": 200,
    "step": 5,
    "unit": "px",
    "label": "Mobile Top Spacing",
    "default": 20
  },
  {
    "type": "range",
    "id": "mobile_bottom_spacing",
    "min": 0,
    "max": 200,
    "step": 5,
    "unit": "px",
    "label": "Mobile Bottom Spacing",
    "default": 20
  },
  {
    "type": "range",
    "id": "mobile_left_spacing",
    "min": 0,
    "max": 200,
    "step": 5,
    "unit": "px",
    "label": "Mobile Left Spacing",
    "default": 20
  },
  {
    "type": "range",
    "id": "mobile_right_spacing",
    "min": 0,
    "max": 200,
    "step": 5,
    "unit": "px",
    "label": "Mobile Right Spacing",
    "default": 20
  },
  {
    "type": "checkbox",
    "id": "full_with",
    "label": "Full Width",
    "default": false
  },
  {
    "type": "range",
    "id": "max_width",
    "min": 500,
    "max": 2000,
    "step": 100,
    "unit": "px",
    "label": "Max Width",
    "default": 1400
  }
  ],
  "presets": [
    {
      "name": "Block Video"
    }
  ]
}
{% endschema %}
