<style>
  #shopify-section-{{ section.id }} #testimonialsliderxb12380 {
      width: 100%;
      position: relative;
      overflow: hidden;
  }

  #shopify-section-{{ section.id }} #testimonialsliderxb12380 .testimonialsliderxb12380_container {
      justify-content: space-between;
      overflow: hidden;
      position: relative;
      text-align: center;
      flex-direction: column;
      -webkit-box-pack: justify;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      align-items: center;
      -webkit-box-align: center;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      max-width: 100%;
      padding: {{ section.settings.desktop_top_spacing }}px {{ section.settings.desktop_left_spacing }}px {{ section.settings.desktop_bottom_spacing }}px {{ section.settings.desktop_right_spacing }}px;
  }

  #shopify-section-{{ section.id }} #testimonialsliderxb12380 .testimonialsliderxb12380_container::before {
      background: {{ section.settings.bg_color }};
      transform: translateY(60px);
      width: 150vw;
      z-index: -1;
      border-radius: 100%;
      content: "";
      display: block;
      height: 100%;
      overflow: hidden;
      position: absolute;
  }

  #shopify-section-{{ section.id }} #testimonialsliderxb12380 .testimonialsliderxb12380_rate_head {
      background: {{ section.settings.card_color }};
      border-collapse: collapse;
      border-radius: 45px;
      margin: 14px 0 0;
      padding: 4px 4px 0 28px;
      position: relative;
      max-width: 450px;
      justify-content: space-between;
      display: flex;
      -webkit-box-pack: justify;
      align-items: center;
      -webkit-box-align: center;
  }

  #shopify-section-{{ section.id }} #testimonialsliderxb12380 .testimonialsliderxb12380_rate_head::before {
      box-shadow: 0 -3px 9px #e7e7e7;
      content: "";
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: -2;
      border-radius: 45px;
  }

  #shopify-section-{{ section.id }} #testimonialsliderxb12380 .testimonialsliderxb12380_stars {
      display: flex;
      gap: 5px;
      align-items: center;
  }

  #shopify-section-{{ section.id }} #testimonialsliderxb12380 .testimonialsliderxb12380_star {
      color: {{ section.settings.hl_color }};
      width: 30px;
  }

  #shopify-section-{{ section.id }} #testimonialsliderxb12380 .testimonialsliderxb12380_rate h6 {
      font-size: 56px;
      letter-spacing: 0;
      margin: 0;
  }

  #shopify-section-{{ section.id }} #testimonialsliderxb12380 .testimonialsliderxb12380_rate h6 span {
      font-size: 35px;
  }

  #shopify-section-{{ section.id }} #testimonialsliderxb12380 .testimonialsliderxb12380_logo {
      width: 70px;
  }

  #shopify-section-{{ section.id }} #testimonialsliderxb12380 .testimonialsliderxb12380_logo img {
      width: 100%;
      max-width: 100%;
      object-fit: cover;
  }

  #shopify-section-{{ section.id }} #testimonialsliderxb12380 .testimonialsliderxb12380_title {
      color: {{ section.settings.heading_color }};
      font-size: 40px;
      margin: 30px 0;
      max-width: 720px;
      width: 100%;
  }

  #shopify-section-{{ section.id }} #testimonialsliderxb12380 .testimonialsliderxb12380_slider {
      position: relative;
      height: 100%;
      padding: 0 0 20px;
      width: 100%;
      max-width: {% if section.settings.full_with %} 100% {% else %} {{ section.settings.max_width }}px {% endif %};
  }

  .swiper {
      width: 100%;
      height: 100%;
      padding: 0 35px !important;
  }

  #shopify-section-{{ section.id }} #testimonialsliderxb12380 .testimonialsliderxb12380_slider_nav {
      border: 3px solid {{ section.settings.card_color }};
      border-radius: 30px;
      padding: 13px 16px 10px;
      position: absolute;
      right: 35px;
      top: -80px;
  }
  #shopify-section-{{ section.id }} #testimonialsliderxb12380 .testimonialsliderxb12380_slider_nav_inner {
      display: flex;
      gap: 40px;
      align-items: center;
  }
  #shopify-section-{{ section.id }} #testimonialsliderxb12380 .testimonialsliderxb12380_slider_nav_prev,
  #shopify-section-{{ section.id }} #testimonialsliderxb12380 .testimonialsliderxb12380_slider_nav_next {
      color: {{ section.settings.card_color }};
  }
  #shopify-section-{{ section.id }} #testimonialsliderxb12380 .testimonialsliderxb12380_footer{
      background: {{ section.settings.bg_color }};
      padding: 0 0 20px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }
  #shopify-section-{{ section.id }} #testimonialsliderxb12380 .testimonialsliderxb12380_footer h6 {
      color: {{ section.settings.heading_color }};
      font-size: 24px;
      margin: 10px 0 20px;
  }
  #shopify-section-{{ section.id }} #testimonialsliderxb12380 .testimonialsliderxb12380_btn {
      background: {{ section.settings.hl_color }};
      color: #fff;
      font-size: 20px;
      font-weight: 500;
      line-height: 24px;
      padding: 12px 20px;
      cursor: pointer;
      display: inline-block;
      margin: auto;
      min-width: 100px;
      transition: all .2s ease-in-out;
      text-align: center;
      text-decoration: none;
      border-radius: 999px;
  }
  #shopify-section-{{ section.id }} #testimonialsliderxb12380 .testimonialsliderxb12380_slide {
      width: 100%;
      position: relative;
      background: {{ section.settings.card_color }};
      border-radius: 25px;
      min-height: 100%;
      padding: 30px 20px;
  }
  #shopify-section-{{ section.id }} #testimonialsliderxb12380 .testimonialsliderxb12380_slide_message {
      font-size: 24px;
      font-weight: 600;
      line-height: 35px;
      text-align: left;
      margin: 24px 0;
      color: {{ section.settings.text_color }};
  }
  #shopify-section-{{ section.id }} #testimonialsliderxb12380 .testimonialsliderxb12380_slide_name {
      font-size: 14px;
      margin: 0;
      text-align: left;
      line-height: 1.7;
    color: {{ section.settings.text_color }};
  }
  #shopify-section-{{ section.id }} #testimonialsliderxb12380 .testimonialsliderxb12380_slide_prdt {
      text-decoration: underline;
      font-size: 12px;
      text-align: left;
      line-height: 1.7;
      color: {{ section.settings.link_color }};
      margin: 0;
      text-align: left;
      display: block;
  }
  #shopify-section-{{ section.id }} #testimonialsliderxb12380   .swiper-pagination {
      display: none !;
  }
  #shopify-section-{{ section.id }} #testimonialsliderxb12380   .swiper-pagination-bullet {
      background-color: {{ section.settings.card_color }} !important;
  }
  @media screen and (max-width: 767px) {
      #shopify-section-{{ section.id }} #testimonialsliderxb12380   .swiper {
          padding: 0 20px 50px 20px !important;
      }
      #shopify-section-{{ section.id }} #testimonialsliderxb12380 .testimonialsliderxb12380_slider_nav {
          display: none !important;
      }
      #shopify-section-{{ section.id }} #testimonialsliderxb12380 .testimonialsliderxb12380_title {
          font-size: 20px;
          margin: 30px 5%;
          width: auto;
      }
      #shopify-section-{{ section.id }} #testimonialsliderxb12380 .testimonialsliderxb12380_stars  {
          gap: 0;
          margin-right: 5px;
      }
      #shopify-section-{{ section.id }} #testimonialsliderxb12380 .testimonialsliderxb12380_star {
          width: 17px;
      }
      #shopify-section-{{ section.id }} #testimonialsliderxb12380 .testimonialsliderxb12380_slide_message {
          font-size: 14px;
          line-height: 24px;
          margin: 10px 0 15px;
      }
      #shopify-section-{{ section.id }} #testimonialsliderxb12380  .swiper-pagination {
          display: inherit !important;
      }
      #shopify-section-{{ section.id }} #testimonialsliderxb12380 .testimonialsliderxb12380_footer h6 {
          font-size: 14px;
          margin: 10px 20% 20px;
      }
      #shopify-section-{{ section.id }} #testimonialsliderxb12380 .testimonialsliderxb12380_btn {
          font-size: 12px;
      }
      #shopify-section-{{ section.id }} #testimonialsliderxb12380 .testimonialsliderxb12380_rate_head {
          padding: 4px 4px 3px 20px;
      }
      #shopify-section-{{ section.id }} #testimonialsliderxb12380 .testimonialsliderxb12380_rate h6 {
          font-size: 25px;
          letter-spacing: 0;
          margin: 0;
      }

      #shopify-section-{{ section.id }} #testimonialsliderxb12380 .testimonialsliderxb12380_rate h6 span {
          font-size: 20px;
      }
      #shopify-section-{{ section.id }} #testimonialsliderxb12380 .testimonialsliderxb12380_logo {
          width: 50px;
      }
      #shopify-section-{{ section.id }} #testimonialsliderxb12380 .testimonialsliderxb12380_container::before {
          transform: translateY(30px);
          width: 250vw;
      }
   #shopify-section-{{ section.id }} #testimonialsliderxb12380 .testimonialsliderxb12380_container {
      padding: {{ section.settings.mobile_top_spacing }}px {{ section.settings.mobile_left_spacing }}px {{ section.settings.mobile_bottom_spacing }}px {{ section.settings.mobile_right_spacing }}px;
    }
  }
</style>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css">

<section id="testimonialsliderxb12380">
  <div class="testimonialsliderxb12380_container">
    <div class="testimonialsliderxb12380_rate_head">
      <div class="testimonialsliderxb12380_stars">
        {% for i in (1..section.settings.nb_star) %}
          <div class="testimonialsliderxb12380_star">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 28" fill="none">
              <path
                  d="M14.67 0.125L18.6898 9.77315L29.0819 10.6231L21.1613 17.438L23.5732 27.608L14.67 22.1651L5.75185 27.608L8.16376 17.438L0.243164 10.6231L10.6501 9.77315L14.67 0.125Z"
                  fill="currentColor"></path>
            </svg>
          </div>
        {% endfor %}
      </div>
      <div class="testimonialsliderxb12380_rate">
        <h6>
          {{ section.settings.nb_star }}
          <span>/5</span>
        </h6>
      </div>
      <div class="testimonialsliderxb12380_logo">
        <img src="{{ section.settings.logo | img_url: "master" }}" alt="">
      </div>
    </div>
    <h2 class="testimonialsliderxb12380_title">
      {{ section.settings.heading }}
    </h2>
    <div class="testimonialsliderxb12380_slider">
      <div class="testimonialsliderxb12380_slider_nav">
        <div class="testimonialsliderxb12380_slider_nav_inner">
          <div class="testimonialsliderxb12380_slider_nav_prev">
            <svg
              class="icon icon--slider-arrow-left-2"
              width="10"
              height="16"
              viewBox="0 0 10 16"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <rect y="8.00012" width="11.3138" height="2.82846" transform="rotate(-45 0 8.00012)"
                  fill="currentColor"></rect>
              <rect x="7.99976" y="16" width="11.3138" height="2.82846"
                  transform="rotate(-135 7.99976 16)" fill="currentColor"></rect>
            </svg>
          </div>
          <div class="testimonialsliderxb12380_slider_nav_next">
            <svg
              class="icon icon--slider-arrow-right-2"
              width="10"
              height="16"
              viewBox="0 0 10 16"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <rect x="10" y="7.99988" width="11.3138" height="2.82846"
                  transform="rotate(135 10 7.99988)" fill="currentColor"></rect>
              <rect x="2.00024" width="11.3138" height="2.82846" transform="rotate(45 2.00024 0)"
                  fill="currentColor"></rect>
            </svg>
          </div>
        </div>
      </div>
      <div class="swiper testimonialsliderxb12380-swiper">
        <div class="swiper-wrapper">
          {% for block in section.blocks %}
            <div class="swiper-slide">
              <div class="testimonialsliderxb12380_slide">
                <div class="testimonialsliderxb12380_slide_inner">
                  <div class="testimonialsliderxb12380_stars">
                    {% for i in (1..block.settings.nb_star) %}
                      <div class="testimonialsliderxb12380_star">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 28" fill="none">
                          <path
                              d="M14.67 0.125L18.6898 9.77315L29.0819 10.6231L21.1613 17.438L23.5732 27.608L14.67 22.1651L5.75185 27.608L8.16376 17.438L0.243164 10.6231L10.6501 9.77315L14.67 0.125Z"
                              fill="currentColor"></path>
                        </svg>
                      </div>
                    {% endfor %}
                  </div>
                  <p class="testimonialsliderxb12380_slide_message">
                    {{ block.settings.message }}
                  </p>
                  <p class="testimonialsliderxb12380_slide_name">{{ block.settings.name }}</p>
                  <a href="{{ block.settings.product.url }}" class="testimonialsliderxb12380_slide_prdt">
                    {{ block.settings.product.title | escape }}
                  </a>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
    <div class="testimonialsliderxb12380_footer">
      <h6>{{ section.settings.subheading }}</h6>
      <a href="{{ section.settings.btn_url }}" class="testimonialsliderxb12380_btn">{{ section.settings.btn_label }}</a>
    </div>
  </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
<script>
  
  
  
        new Swiper(`#shopify-section-{{ section.id }} #testimonialsliderxb12380  .testimonialsliderxb12380-swiper`, {
                navigation: {
                    nextEl: `#shopify-section-{{ section.id }} #testimonialsliderxb12380 .testimonialsliderxb12380_slider_nav_next`,
                    prevEl: `#shopify-section-{{ section.id }} #testimonialsliderxb12380  .testimonialsliderxb12380_slider_nav_prev`,
                },
                pagination: {
                            el: '.swiper-pagination',
                            type: 'bullets',
                            clickable: true
                        },
                breakpoints: {
                    320: {
                        slidesPerView: 1.5,
                        spaceBetween: 20,
                    },
                    700: {
                        slidesPerView: 3,
                        spaceBetween: 25
                    },
                    1024: {
                        slidesPerView: 4,
                        spaceBetween: 25
                    },
                    1500: {
                        slidesPerView: 6,
                        spaceBetween: 25,
                    }
                }
            });



</script>

{% schema %}
{
  "name": "Testimonial Slider",
   "blocks": [
    {
    "type": "item",
    "name": "item",
    "settings": [
      {
    "type": "range",
    "id": "nb_star",
    "min": 0,
    "max": 5,
    "step": 1,
    "unit": "s",
    "label": "Nb Star",
    "default": 5
  },
      {
        "type": "text",
        "id": "message",
        "label": "Message"
      },
      {
        "type": "text",
        "id": "name",
        "label": "Name"
      },
      {
        "type": "product",
        "id": "product",
        "label": "Product"
      }
    ]
  }
],
  "settings": [
        {
  "type":"color",
  "id":"bg_color",
  "label":"Couleur Bg",
  "default":"#000"
},
{
  "type":"color",
  "id":"heading_color",
  "label":"Couleur titre",
  "default":"#fff"
},
{
  "type":"color",
  "id":"text_color",
  "label":"Couleur texte",
  "default":"#313131"
},
{
  "type":"color",
  "id":"hl_color",
  "label":"Couleur hl",
  "default":"#313131"
},
     {
  "type":"color",
  "id":"link_color",
  "label":"Couleur link",
  "default":"#000"
},
     {
  "type":"color",
  "id":"card_color",
  "label":"Couleur card",
  "default":"#fff"
},
      {
        "type": "text",
        "id": "heading",
        "label": "Heading"
      },
      {
        "type": "text",
        "id": "subheading",
        "label": "Sub Heading"
      },
  {
    "type": "range",
    "id": "nb_star",
    "min": 0,
    "max": 5,
    "step": 1,
    "unit": "s",
    "label": "Nb Star",
    "default": 5
  },
      {
        "type": "text",
        "id": "btn_label",
        "label": "Btn Label"
      },
      {
        "type": "url",
        "id": "btn_url",
        "label": "Btn URL"
      },
      {
        "type": "image_picker",
        "id": "logo",
        "label": "logo"
      },
  {
    "type": "range",
    "id": "desktop_top_spacing",
    "min": 0,
    "max": 200,
    "step": 5,
    "unit": "px",
    "label": "Desktop Top Spacing",
    "default": 40
  },
  {
    "type": "range",
    "id": "desktop_bottom_spacing",
    "min": 0,
    "max": 200,
    "step": 5,
    "unit": "px",
    "label": "Desktop Bottom Spacing",
    "default": 40
  },
  {
    "type": "range",
    "id": "desktop_left_spacing",
    "min": 0,
    "max": 200,
    "step": 5,
    "unit": "px",
    "label": "Desktop Left Spacing",
    "default": 40
  },
  {
    "type": "range",
    "id": "desktop_right_spacing",
    "min": 0,
    "max": 200,
    "step": 5,
    "unit": "px",
    "label": "Desktop Right Spacing",
    "default": 40
  },
  {
    "type": "range",
    "id": "mobile_top_spacing",
    "min": 0,
    "max": 200,
    "step": 5,
    "unit": "px",
    "label": "Mobile Top Spacing",
    "default": 20
  },
  {
    "type": "range",
    "id": "mobile_bottom_spacing",
    "min": 0,
    "max": 200,
    "step": 5,
    "unit": "px",
    "label": "Mobile Bottom Spacing",
    "default": 20
  },
  {
    "type": "range",
    "id": "mobile_left_spacing",
    "min": 0,
    "max": 200,
    "step": 5,
    "unit": "px",
    "label": "Mobile Left Spacing",
    "default": 20
  },
  {
    "type": "range",
    "id": "mobile_right_spacing",
    "min": 0,
    "max": 200,
    "step": 5,
    "unit": "px",
    "label": "Mobile Right Spacing",
    "default": 20
  },
  {
    "type": "checkbox",
    "id": "full_with",
    "label": "Full Width",
    "default": false
  },
  {
    "type": "range",
    "id": "max_width",
    "min": 500,
    "max": 2000,
    "step": 100,
    "unit": "px",
    "label": "Max Width",
    "default": 1400
  }
  ],
  "presets": [
    {
      "name": "Testimonial Slider"
    }
  ]
}
{% endschema %}
