<style>
  #suisseprevoyancequizz * {
    line-height: normal;
  }

  #suisseprevoyancequizz {
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: {{ section.settings.bg_color }};
    color: {{ section.settings.title_color }} !important;
    overflow: hidden;
  }

  #suisseprevoyancequizz .suisseprevoyancequizz_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 40px 60px 40px 60px;
  }

  #suisseprevoyancequizz .suisseprevoyancequizz_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  #suisseprevoyancequizz .suisseprevoyancequizz_title {
    font-size: 40px;
    line-height: normal;
    font-weight: 700;
    max-width: 60%;
    text-align: center;
    color: {{ section.settings.title_color }};
  }

  #suisseprevoyancequizz .suisseprevoyancequizz_header img {
    width: 150px;
  }

  #suisseprevoyancequizz img {
    max-width: 100%;
    display: block;
  }

  #suisseprevoyancequizz .suisseprevoyancequizz_content {
    width: 100%;
    flex-grow: 1;
    flex-shrink: 0;
    display: block;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
  }

  #suisseprevoyancequizz .suisseprevoyancequizz_content_item {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: translateX(200%);
    transition: all 500ms ease-in-out;
    padding: 80px 0 0 0;
  }

  #suisseprevoyancequizz .suisseprevoyancequizz_content_item.active {
    transform: translateX(0);
  }

  #suisseprevoyancequizz .suisseprevoyancequizz_content_item.active.complete {
    transform: translateX(-200%);
  }

  #suisseprevoyancequizz .suisseprevoyancequizz_content_item#step_0 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #suisseprevoyancequizz .suisseprevoyancequizz_action_btn {
    background-color: {{ section.settings.title_color }};
    border: none;
    font-size: 25px;
    color: #fff;
    height: 80px;
    padding: 10px 40px;
    cursor: pointer;
    border-radius: 20px;
    font-weight: 600;
    display: block;
  }

  #suisseprevoyancequizz .suisseprevoyancequizz_footer {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    gap: 20px;
  }

  #suisseprevoyancequizz .suisseprevoyancequizz_action_btn#prevbtn,
  #suisseprevoyancequizz .suisseprevoyancequizz_action_btn#nextbtn {
    height: auto;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 20px;
  }

  #suisseprevoyancequizz .suisseprevoyancequizz_action_btn#submitbtn {
    height: 60px;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 50px;
  }

  #suisseprevoyancequizz
    .suisseprevoyancequizz_content_answers
    input[type="radio"] {
    display: none;
  }

  #suisseprevoyancequizz
    .suisseprevoyancequizz_content_answers
    input[type="radio"]:checked
    + label {
    border: 1px solid #000;
    border-radius: 20px;
  }

  #suisseprevoyancequizz .suisseprevoyancequizz_content_answers {
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    margin-top: 20px;
    flex-wrap: wrap;
  }

  #suisseprevoyancequizz
    .suisseprevoyancequizz_content_item#step_1
    .suisseprevoyancequizz_content_answers {
    gap: 100px;
  }

  #suisseprevoyancequizz .suisseprevoyancequizz_content_answers,
  #suisseprevoyancequizz .suisseprevoyancequizz_content_question {
    font-weight: 600;
    font-size: 20px;
  }

  #suisseprevoyancequizz .suisseprevoyancequizz_content_answers_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 10px;
    gap: 20px;
    text-align: center;
  }

  #suisseprevoyancequizz .suisseprevoyancequizz_content_answers_item img {
    max-height: 350px;
  }

  #suisseprevoyancequizz .suisseprevoyancequizz_content_input {
    display: block;
    font-size: 20px;
    padding: 20px;
    border: 1px solid #000;
    border-radius: 10px;
    margin: 10px 0;
    max-width: 500px;
    width: 100%;
  }

  #suisseprevoyancequizz .coordonee_form {
    padding: 30px 50px;
  }

  @media only screen and (max-width: 780px) {
    #suisseprevoyancequizz .suisseprevoyancequizz_container {
      padding: 40px 20px 20px 20px;
    }

    #suisseprevoyancequizz .suisseprevoyancequizz_title {
      font-size: 20px;
      max-width: 50%;
    }

    #suisseprevoyancequizz .suisseprevoyancequizz_header img {
      width: 50px;
    }

    #suisseprevoyancequizz .suisseprevoyancequizz_action_btn {
      font-size: 18px;
      height: auto;
      padding: 10px 20px;
      border-radius: 10px;
    }

    #suisseprevoyancequizz .suisseprevoyancequizz_action_btn#prevbtn,
    #suisseprevoyancequizz .suisseprevoyancequizz_action_btn#nextbtn {
      font-size: 16px;
    }

    #suisseprevoyancequizz .suisseprevoyancequizz_content_answers {
      gap: 20px;
    }

    #suisseprevoyancequizz
      .suisseprevoyancequizz_content_item#step_1
      .suisseprevoyancequizz_content_answers {
      gap: 20px;
    }

    #suisseprevoyancequizz .suisseprevoyancequizz_content_answers_item {
      max-width: 30%;
    }

    #suisseprevoyancequizz .suisseprevoyancequizz_content_answers,
    #suisseprevoyancequizz .suisseprevoyancequizz_content_question {
      font-size: 14px;
    }

    #suisseprevoyancequizz .suisseprevoyancequizz_content_input {
      font-size: 16px;
      padding: 10px;
      max-width: 100%;
      width: 100%;
    }

    #suisseprevoyancequizz .coordonee_form {
      padding: 30px 0px;
    }

    #suisseprevoyancequizz .suisseprevoyancequizz_action_btn#submitbtn {
      height: auto;
      border-radius: 10px;
      margin: 0 auto;
      margin-top: 30px;
      font-size: 16px;
    }

    #suisseprevoyancequizz .ou {
      display: none;
    }
  }
</style>

<section id="suisseprevoyancequizz">
  <form method="post" class="suisseprevoyancequizz_container">
    <div class="suisseprevoyancequizz_header">
      <img src="{{ section.settings.logo | img_url: 'master' }}" alt="">
      <h2 class="suisseprevoyancequizz_title">{{ section.settings.title }}</h2>
      <img src="{{ section.settings.logo | img_url: 'master' }}" alt="">
    </div>
    <div class="suisseprevoyancequizz_content">
      <div class="suisseprevoyancequizz_content_item active " id="step_0">
        <button type="button" class="suisseprevoyancequizz_action_btn" id="startbtn">
          {{ section.settings.start_btn_lbl }}
        </button>
      </div>
      <div class="suisseprevoyancequizz_content_item" id="step_1">
        <h3 class="suisseprevoyancequizz_content_question">{{ section.settings.step_1_text }}</h3>
        <div class="suisseprevoyancequizz_content_answers">
          {% for block in section.blocks %}
            {% if block.type == 'step_1_answer' %}
              <input type="radio" name="in_step_1" id="in_step_1_{{ forloop.index }}" value="{{ block.settings.text }}">
              <label for="in_step_1_{{ forloop.index }}" class="suisseprevoyancequizz_content_answers_item">
                <p>{{ block.settings.text }}</p>
                <img src="{{ block.settings.image | img_url: 'master' }}" alt="">
              </label>
            {% endif %}
          {% endfor %}
        </div>
      </div>
      <div class="suisseprevoyancequizz_content_item" id="step_2">
        <h3 class="suisseprevoyancequizz_content_question">{{ section.settings.step_2_text }}</h3>
        <div class="suisseprevoyancequizz_content_answers">
          {% for block in section.blocks %}
            {% if block.type == 'step_2_answer' %}
              <input type="radio" name="in_step_2" id="in_step_2_{{ forloop.index }}" value="{{ block.settings.text }}">
              <label for="in_step_2_{{ forloop.index }}" class="suisseprevoyancequizz_content_answers_item">
                <p>{{ block.settings.text }}</p>
                <img src="{{ block.settings.image | img_url: 'master' }}" alt="">
              </label>
            {% endif %}
          {% endfor %}
        </div>
      </div>
      <div class="suisseprevoyancequizz_content_item" id="step_3">
        <h3 class="suisseprevoyancequizz_content_question">{{ section.settings.step_3_text }}</h3>
        <div class="suisseprevoyancequizz_content_answers">
          {% for block in section.blocks %}
            {% if block.type == 'step_3_answer' %}
              <input type="radio" name="in_step_3" id="in_step_3_{{ forloop.index }}" value="{{ block.settings.text }}">
              <label for="in_step_3_{{ forloop.index }}" class="suisseprevoyancequizz_content_answers_item">
                <p>{{ block.settings.text }}</p>
                <img src="{{ block.settings.image | img_url: 'master' }}" alt="">
              </label>
            {% endif %}
          {% endfor %}
        </div>
      </div>
      <div class="suisseprevoyancequizz_content_item" id="step_4">
        <h3 class="suisseprevoyancequizz_content_question">{{ section.settings.step_4_text }}</h3>
        <div class="suisseprevoyancequizz_content_answers">
          {% for block in section.blocks %}
            {% if block.type == 'step_4_answer' %}
              <input type="radio" name="in_step_4" id="in_step_4_{{ forloop.index }}" value="{{ block.settings.text }}">
              <label for="in_step_4_{{ forloop.index }}" class="suisseprevoyancequizz_content_answers_item">
                <p>{{ block.settings.text }}</p>
                <img src="{{ block.settings.image | img_url: 'master' }}" alt="">
              </label>
            {% endif %}
          {% endfor %}
        </div>
      </div>
      <div class="suisseprevoyancequizz_content_item" id="step_5">
        <h3 class="suisseprevoyancequizz_content_question">{{ section.settings.step_5_text }}</h3>
        <div class="coordonee_form">
          <label for="numero_telephone" class="suisseprevoyancequizz_content_question"
            >Numéro de téléphone (avec l'indicatif)</label
          >
          <input
            type="text"
            name="numero_telephone"
            class="suisseprevoyancequizz_content_input"
            id="numero_telephone"
            placeholder="+41. 79. 987.65.43 "
          >
          <label for="adresse_email" class="suisseprevoyancequizz_content_question">Adresse email</label>
          <input
            type="text"
            name="adresse_email"
            class="suisseprevoyancequizz_content_input"
            id="adresse_email"
            placeholder="jeanne.barbezat@gmail.com"
          >
          <input type="checkbox" name="condition" id="condition">
          <label for="condition">*J’accepte les conditions</label>
        </div>
        <button type="submit" class="suisseprevoyancequizz_action_btn" id="submitbtn">
          {{ section.settings.submit_btn_lbl }}
        </button>
      </div>
    </div>
    <div class="suisseprevoyancequizz_footer">
      <button type="button" class="suisseprevoyancequizz_action_btn" style="display: none;" id="prevbtn">
        {{ section.settings.prev_btn_lbl }}
      </button>
      <button type="button" class="suisseprevoyancequizz_action_btn" style="display: none;" id="nextbtn">
        {{ section.settings.next_btn_lbl }}
      </button>
    </div>
  </form>
</section>

<script>
  const startbtn = document.querySelector(
    "#suisseprevoyancequizz .suisseprevoyancequizz_action_btn#startbtn"
  );
  const nextbtn = document.querySelector(
    "#suisseprevoyancequizz .suisseprevoyancequizz_action_btn#nextbtn"
  );
  const prevbtn = document.querySelector(
    "#suisseprevoyancequizz .suisseprevoyancequizz_action_btn#prevbtn"
  );
  const steps = Array.from(
    document.querySelectorAll(
      "#suisseprevoyancequizz .suisseprevoyancequizz_content_item"
    )
  );
  let currentStep = 0;

  startbtn.addEventListener("click", function (e) {
    e.preventDefault();
    steps[currentStep].classList.add("complete");
    currentStep++;
    steps[currentStep].classList.add("active");
    nextbtn.style.display = "inherit";
    prevbtn.style.display = "inherit";
  });

  nextbtn.addEventListener("click", function (e) {
    e.preventDefault();
    if (verifyCheck()) {
      steps[currentStep].classList.add("complete");
      currentStep++;
      steps[currentStep].classList.add("active");
      if (currentStep + 1 == steps.length) {
        nextbtn.style.display = "none";
        prevbtn.style.display = "none";
      }
    }
  });

  prevbtn.addEventListener("click", function (e) {
    e.preventDefault();
    steps[currentStep].classList.remove("active");
    currentStep--;
    steps[currentStep].classList.remove("complete");

    if (currentStep == 0) {
      prevbtn.style.display = "none";
      nextbtn.style.display = "none";
    }
  });

  function verifyCheck() {
    let checked = steps[currentStep].querySelector(
      ".suisseprevoyancequizz_content_answers input[type=radio]:checked"
    );
    if (!checked) {
      return false;
    }
    return true;
  }
</script>

{% schema %}
 {
  "name": "Prev S Quizz",
  "blocks": [
    {
      "type": "step_1_answer",
      "name": "Reponse Etape 1",
      "settings": [
          {
            "type": "text",
            "id": "text",
            "label": "Texte",
            "default":"Lorem ipsum"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }
      ]
    },
    {
      "type": "step_2_answer",
      "name": "Reponse Etape 2",
      "settings": [
          {
            "type": "text",
            "id": "text",
            "label": "Texte",
            "default":"Lorem ipsum"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }
      ]
    },
    {
      "type": "step_3_answer",
      "name": "Reponse Etape 3",
      "settings": [
          {
            "type": "text",
            "id": "text",
            "label": "Texte",
            "default":"Lorem ipsum"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }
      ]
    },
    {
      "type": "step_4_answer",
      "name": "Reponse Etape 4",
      "settings": [
          {
            "type": "text",
            "id": "text",
            "label": "Texte",
            "default":"Lorem ipsum"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }
      ]
    }
  ],
  "settings": [
    {
      "type": "color",
      "id": "bg_color",
      "label": "Couleur de fond",
      "default": "#fff"
    },
    {
      "type": "color",
      "id": "title_color",
      "label": "Couleur de titre",
      "default": "#729fcf"
    },
    {
      "type": "color_background",
      "id": "text_color",
      "label": "Couleur de texte",
      "default": "#000"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Titre section",
      "default":"Le formulaire"
    },
    {
      "type": "text",
      "id": "start_btn_lbl",
      "label": "Libelle bouton debut",
      "default":"Lorem ipsum"
    },
    {
      "type": "text",
      "id": "submit_btn_lbl",
      "label": "Libelle bouton soumission",
      "default":"Transmettre mes données"
    },
    {
      "type": "text",
      "id": "next_btn_lbl",
      "label": "Libelle bouton suivant",
      "default":"Suivant"
    },
    {
      "type": "text",
      "id": "prev_btn_lbl",
      "label": "Libelle bouton precedent",
      "default":"Precedent"
    },
    {
      "type": "text",
      "id": "step_1_text",
      "label": "Titre etape 1",
      "default":"1) Vous êtes:"
    },
    {
      "type": "text",
      "id": "step_2_text",
      "label": "Titre etape 2",
      "default":"2) Vous êtes:"
    },
    {
      "type": "text",
      "id": "step_3_text",
      "label": "Titre etape 3",
      "default":"3) Vous êtes:"
    },
    {
      "type": "text",
      "id": "step_4_text",
      "label": "Titre etape 4",
      "default":"4) Vous êtes:"
    },
    {
      "type": "text",
      "id": "step_5_text",
      "label": "Titre etape 5",
      "default":"5) Vous êtes:"
    },
          {
            "type": "image_picker",
            "id": "logo",
            "label": "Logo"
          }
  ],
  "presets": [
  {
    "name": "Prev S Quizz"
  }
]
}
{% endschema %}
